/** =================================================================
 *
 * COMPONENT _ UI
 *
 * ------------------------------------------------------------------
 *
 *
 *
 * --------------------------------------------------------------- */

/** =================================================================
 *
 * BUTTON
 *
 * --------------------------------------------------------------- */

.c-button {

	/** =================================================================
	 * ROUND
	 * --------------------------------------------------------------- */

	&.c-button--round {
		font-size: pc-clamp(12, 10);
		display: flex;
		overflow: hidden;
		align-items: center;
		justify-content: center;
		box-sizing: border-box;
		height: pc-rem(24);
		padding: 0 1em * 7/12;
		text-overflow: ellipsis;
		border-radius: pc-rem(12);

		@include sp () {
			font-size: sp-rem(24);
			height: sp-rem(48);
			border-radius: sp-rem(24);
		}

		> span {
			position: relative;
			top: -.05em;
		}

		&.is--gray {
			border: 1px solid #f7f7f7;
			background-color: #f7f7f7;

			@include transition('color, background-color, border-color', $dur--hover);
		}

		&.is--black {
			color: var(--color-theme-text-invert);
			background-color: var(--color-theme-text);

			@include transition('color, background-color', $dur--hover);
		}

		&.is--white {
			background-color: var(--color-white);

			@include transition('color, background-color', $dur--hover);
		}

		&.is--fit {
			width: fit-content;
			padding: 0 1em * 24/12;
		}
	}

	@at-root a.c-button--round {
		&.is--gray {
			@include taphover {
				color: var(--color-white);
				border-color: var(--color-theme-bg-invert);
				background-color: var(--color-theme-bg-invert);
			}

			&.is--active {
				border-color: #b1b1b1;
				background-color: var(--color-white);
			}
		}

		&.is--white {
			@include taphover {
				color: var(--color-white);
				background-color: var(--color-black);
			}
		}
	}


	/** =================================================================
	 * MORE
	 * --------------------------------------------------------------- */

	&.c-button--more {
		font-size: pc-rem(20);
		font-weight: bold;
		display: flex;
		align-items: center;
		justify-content: center;
		height: pc-rem(60);
		color: var(--color-white);
		border-radius: pc-rem(30);
		background-color: #7f7f7f;

		@include transition('background-color', $dur--hover);
	}

	@at-root a.c-button--more {
		@include taphover {
			background-color: var(--color-theme-bg-invert);
		}
	}

}


/** =================================================================
 *
 * CIRCLE ARROW
 *
 * --------------------------------------------------------------- */

.c-circle-arrow {
	line-height: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	aspect-ratio: 1 / 1;
	border-radius: 50%;


	/** =================================================================
	 * BORDER
	 * --------------------------------------------------------------- */

	&.c-circle-arrow--border {
		font-size: pc-rem(36);
		width: 1em;
		border: 1px solid rgba($color--black, .3);

		@include sp () {
			font-size: sp-rem(45);
		}

		.c-icon {
			font-size: 1em * 11/36;

			@include sp () {
				font-size: 1em * 28/45;
				transform: scale(.5);
			}
		}
	}


	/** =================================================================
	 * PAGE
	 * --------------------------------------------------------------- */

	&.c-circle-arrow--page {
		font-size: pc-rem(36);
		width: 1em;
		color: var(--color-white);
		border: 1px solid rgba($color--black, .3);
		background-color: var(--color-black);

		@include transition('transform, opacity', .3s, $easing--easeInOutBack);

		.c-icon {
			font-size: 1em * 11/36;

			@include sp () {
				font-size: 1em * 28/45;
				transform: scale(.5);
			}
		}
	}


	/** =================================================================
	 * NEW and CAREER
	 * --------------------------------------------------------------- */

	&.c-circle-arrow--new,
	&.c-circle-arrow--career {
		font-size: pc-rem(18);
		width: 1em;

		@include sp ((
			font-size: 45,
		)) {}

		.c-icon {
			font-size: 1em * 5.5/18;

			@include sp () {
				font-size: 1em * 28/45;
				transform: scale(.5);
			}
		}
	}

	&.c-circle-arrow--new {
		background-color: var(--color-green);
	}

	&.c-circle-arrow--career {
		background-color: var(--color-salmon);
	}
}


/** =================================================================
 *
 * ARROW LINK
 *
 * --------------------------------------------------------------- */

.c-arrow-link {
	display: flex;
	align-items: center;
	column-gap: 1em;

	@include pc () {
		margin-top: pc-rem(2);
	}
	@include sp () {
		margin-top: sp-rem(-2);
	}
	@include taphover {
		> span {
			text-decoration: underline;
		}

		.c-circle-arrow--border {
			// transform: translateX(1rem);
			color: var(--color-theme-text-invert);
			background-color: var(--color-theme-bg-invert);
		}
	}

	> span {
		font-size: pc-clamp(12);
		position: relative;

		@include sp () {
			font-size: sp-rem(22);
		}
	}

	.c-circle-arrow--border {
		color: var(--color-theme-text);
		background-color: var(--color-theme-bg);

		@include transition('color, background-color, transform, border-color', $dur--hover);
	}
}


/** =================================================================
 *
 * ANIMATE UNDERLINE
 *
 * --------------------------------------------------------------- */

.c-animate-underline {
	position: relative;

	&::after {
		@include pseudo-block((
			bottom: -.2em,
			left: 0,
			height: 1px,
			transform: scaleX(0),
			transform-origin: 0 0,
			background-color: var(--color-black),
		)) {}
		@include transition('transform', $dur--hover);
	}
}


/** =================================================================
 *
 * CIRCLE PICTURE
 *
 * --------------------------------------------------------------- */

.c-circle-picture {
	overflow: hidden;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
}


/** =================================================================
 *
 * INVIEW BORDER
 *
 * --------------------------------------------------------------- */

.c-inview-border {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1px;
	transform: scaleX(0);
	transform-origin: 0 0;
	background-color: var(--color-theme-text);

	@include transition('transform, background-color', $dur--transition);

	&.is--inview {
		transform: scaleX(1);
	}
}


/** =================================================================
 *
 * SPINNER
 *
 * --------------------------------------------------------------- */

.c-spinner {
	position: absolute;
	z-index: 10000;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);

	img {
		display: block;
		width: 2em;
		height: 2em;
		animation-name: spinner;
		animation-duration: 3s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;

		@include sp () {
			width: 4em;
			height: 4em;
		}

		@keyframes spinner {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(359deg);
			}
		}
	}
}


/** =================================================================
 *
 * INSET MASK
 *
 * --------------------------------------------------------------- */

.c-inset-mask {
	clip-path: inset(0% 100% 0% 0%);

	.is--mask {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		background-color: var(--color-white);
	}
}


/** =================================================================
 *
 * PROGRESS
 *
 * --------------------------------------------------------------- */

.c-progress {
	circle {
		animation-name: progress;
		animation-duration: 6s;
		animation-timing-function: linear;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;

		@keyframes progress {
			0% {
				stroke-dasharray: 0 100;
			}
			100% {
				stroke-dasharray: 100 0;
			}
		}
	}
}


/** =================================================================
 *
 * MOVIE THUMB
 *
 * --------------------------------------------------------------- */

:not([data-theme='dark']) .c-movie-thumb {
	@include taphover {
		picture {
			opacity: .5;
		}
	}
}
[data-theme='dark'] .c-movie-thumb {
	picture {
		opacity: .2;
	}

	@include taphover {
		picture {
			opacity: 1;
		}
	}
}

.c-movie-thumb {
	position: relative;
	display: block;

	picture {
		position: relative;
		width: 100%;
		aspect-ratio: 16 / 9;

		@include transition('opacity', $dur--transition);
	}

	> div {
		position: absolute;
		z-index: var(--zi-1);
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		p {
			font-size: pc-clamp(12);
			font-weight: 800;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(calc(#{pc-rem(50 / 2)} + 1em));
			color: var(--color-white);

			@include sp () {
				font-size: sp-rem(24);
				transform: translateX(-50%) translateY(calc(#{sp-rem(50 / 2)} + .5em));
			}
		}
	}

	.c-movie-thumb__button {
		position: absolute;
		top: 50%;
		left: 50%;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: pc-rem(50);
		aspect-ratio: 1 / 1;
		transform: translateX(-50%) translateY(-50%);
		border-radius: 50%;
		background-color: var(--color-white);

		@include sp () {
			width: sp-rem(50);
		}

		.c-icon {
			font-size: pc-rem(16);
			color: var(--color-black);

			@include transition('color', $dur--transition);
			@include sp () {
				font-size: sp-rem(16);
			}
		}
	}
}
