/* ==================================================================
 *
 * COMPONENT
 *
 * ------------------------------------------------------------------
 *
 *
 *
 * --------------------------------------------------------------- */

/** =================================================================
 *
 * LAZY IMG
 *
 * --------------------------------------------------------------- */

.c-lazy[data-src] {
	opacity: 0;

	@include transition('opacity', .6s);

	&.is--loaded {
		opacity: 1;
	}
}


/** =================================================================
 *
 * NEWS TAG
 *
 * --------------------------------------------------------------- */

.c-news-tag {
	line-height: 1;
	position: relative;
	top: 1em * -1/11;
	display: inline-block;
	padding: (1em * 2/11) (1em * 15/11) (1em * 4/11) (1em * 15/11);
	border: 1px solid #999999;
	border-radius: 1em * 4/11;

	@include pc () {
		font-size: pc-clamp(11);
	}
	@include sp () {
		font-size: sp-rem(22);
	}
}


/** =================================================================
 *
 * CAREER TAG
 *
 * --------------------------------------------------------------- */

.c-career-tag {
	font-weight: bold;
	position: relative;
	display: inline-block;
	white-space: nowrap;

	@include pc () {
		font-size: pc-clamp(11);
	}
	@include sp () {
		font-size: sp-rem(22);
	}

	&::before {
		margin-right: .5em;
		content: $icon--content-circle;

		@extend %c-icon;
	}

	&[data-category='new'] {
		&::before {
			color: var(--color-green);
		}
	}
	&[data-category='career'] {
		&::before {
			color: var(--color-salmon);
		}
	}
}

a.c-career-tag {
	@include transition('opacity', $dur--hover);
	@include taphover {
		opacity: .7;
	}
}


/** =================================================================
 *
 * HEADER SET
 *
 * --------------------------------------------------------------- */

.c-header-set {
	position: relative;
	padding-top: pc-rem(22);

	@include sp ((
		padding-top: 58,
	)) {}

	.c-header-set__title {
		display: flex;
		align-items: start;
		justify-content: space-between;

		h2 {
			display: flex;
			flex-direction: column;

			[lang='ja'] {
				font-size: pc-rem(40);
				font-weight: 500;
				width: fit-content;

				@include sp ((
					font-size: 46,
				)) {}
			}

			[lang='en'] {
				font-size: pc-clamp(12, 10);
				font-weight: bold;
				position: relative;
				z-index: var(--zi-1);
				width: fit-content;
				padding-right: 1em;
				background-color: var(--color-theme-bg);

				@include transition('background-color', $dur--transition);
				@include pc ((
					margin-top: 32 - 2,
				)) {}
				@include sp ((
					font-size: 24,
					margin-top: 58,
				)) {}
			}
		}
	}

	.c-header-set__nav {
		font-size: pc-clamp(12, 10);
		line-height: 1;
		margin-top: 1em * -17/$fs;

		@include sp ((
			font-size: 22,
		)) {
			margin-top: 1em * 43/22;
		}

		ul {
			display: flex;
			column-gap: 2em;
			white-space: nowrap;

			@include pc () {
				justify-content: end;
			}
		}
	}

	.c-header-set__description {
		font-size: pc-rem(17);
		margin-top: pc-rem(30);

		@include sp () {
			font-size: sp-rem(30);
			line-height: 1 * 52/30;
		}
	}
}


/** =================================================================
 *
 * LIST LINK
 *
 * --------------------------------------------------------------- */

a.c-list-link {
	line-height: 1;
	position: relative;
	display: inline-flex;
	align-items: end;
	flex-direction: column;

	@include pc ((
		padding-right: 36 + 20,
	)) {
		height: pc-rem(22);
	}
	@include sp ((
		padding-right: 45 + 18,
	)) {
		height: sp-rem(40);
	}
	@include taphover {
		.c-animate-underline::after {
			transform: scaleX(1);
		}

		.c-circle-arrow {
			// transform: translateX(.5rem) translateY(-50%);
			opacity: 1;
			background-color: var(--color-theme-text);

			.c-icon {
				color: var(--color-theme-text-invert);
			}
		}
	}

	span[lang='ja'] {
		font-size: pc-rem(22);
		position: relative;
		display: inline-block;
		white-space: nowrap;

		@include sp ((
			font-size: 40,
		)) {}
	}

	span[lang='en'] {
		padding-top: 1em;
		white-space: nowrap;
		text-transform: uppercase;

		@include pc ((
			right: 36 + 20,
		)) {
			font-size: pc-clamp(12, 9);
		}
		@include sp ((
			font-size: 24,
		)) {}
	}

	.c-circle-arrow {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);

		@include transition('transform, background-color', $dur--hover);

		.c-icon {
			@include transition('color', $dur--hover);
		}
	}
}


/** =================================================================
 *
 * LINK EXTERNAL
 *
 * --------------------------------------------------------------- */

a.c-link-external {
	@include taphover {
		> span:not(.c-icon) {
			text-decoration: underline;
		}
	}

	.c-icon {
		@include pc () {
			font-size: pc-clamp(10);
		}
		@include sp () {
			font-size: sp-rem(20);
		}
	}

	.c-icon + span {
		margin-left: 1em * 6/10;
	}

	span + .c-icon {
		margin-right: 1em * 6/10;
	}
}


/** =================================================================
 *
 * CHART
 *
 * --------------------------------------------------------------- */

$pie_r: 31.8309886184;

.c-chart {
	position: relative;

	&.is--out {
		.c-chart__body {
			stroke-dasharray: 0 100;
		}
	}

	.c-chart__wrap {
		position: relative;
		width: pc-rem(213);
		aspect-ratio: 1 / 1;
		margin: auto;
		border-radius: 50%;
		background-color: var(--color-white);

		@include sp () {
			width: sp-rem(213 * $stats_ratio_sp);
		}
	}

	.c-chart__view {
		display: block;
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		padding: 1px;
	}

	.c-chart__body {
		fill: transparent;
		stroke-width: $pie_r;
		stroke-dashoffset: 25;
		stroke: #dbdcdc;
		@include transition('stroke-dasharray', 3s);
	}

	.c-chart__base {
		fill: #eeeeef;
	}

	.c-chart__legend2 {
		fill: #ffffff;
	}

	.c-chart__legend1 {
		fill: #edeef0;
		stroke-width: 1 * ($pie_r * 2)/(213 - 1 * 2);
		stroke: #716f70;
	}

	figcaption {
		font-size: pc-rem(16);
		line-height: 1 * 20/16;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		text-align: center;

		@include sp () {
			font-size: sp-rem(16 * $stats_ratio_sp);
		}
	}
}


/** =================================================================
 *
 * PANE SCROLLER
 *
 * --------------------------------------------------------------- */

.c-pane-scroller {
	@include sp ((
		margin-right: -1 * $size--pad--sp,
		margin-left: -1 * $size--pad--sp,
	)) {
		overflow-x: scroll;
		width: 100vw;

		overscroll-behavior-x: none;
		scroll-snap-type: x mandatory;
		-ms-overflow-style: none;  // Edge
		scrollbar-width: none;  // Firefox

		&::-webkit-scrollbar {
			display: none;  // Safari • Chrome
		}
	}

	.c-pane-scroller__container {
		display: flex;

		@include pc () {
			column-gap: pc-rem(20);
		}
		@include sp ((
			padding-right: 40,
		)) {
			box-sizing: border-box;
		}

		> * {
			scroll-snap-align: start;
		}
	}
}


/** =================================================================
 *
 * PAGE HEADER
 *
 * --------------------------------------------------------------- */

.c-page-header {
	padding-top: pc-rem(145);

	.c-page-header__container {
		padding-right: pc-rem(160);
		padding-left: pc-rem(160);

		.c-page-header__main {
			flex-grow: 1;
		}

		.c-page-header__sub {
			display: flex;
			margin-top: pc-rem(40);

			.c-breadcrumb {
				flex-grow: 1;
			}

			.c-page-nav {
				position: relative;
				top: pc-clamp(-6);
				width: pc-rem(160);
				min-width: pc-rem(160);
			}
		}
	}

	.c-page-header__main {
		.is--title {
			display: flex;
			flex-direction: column;
			row-gap: pc-rem(24);

			span[lang='en'] {
				font-size: pc-clamp(12, 12 * $fs--min-ratio);
				font-weight: bold;
				line-height: 1;
			}

			span[lang='ja'] {
				font-size: pc-rem(40);
				font-weight: 500;
			}
		}
	}
}


/** =================================================================
 *
 * PAGE FOOTER
 *
 * --------------------------------------------------------------- */

.c-page-footer {
	.c-page-footer__container {
		margin-top: pc-rem(100);
		margin-right: pc-rem($size--pad);
		margin-left: pc-rem($size--pad);
		padding-top: pc-rem(60);
		padding-bottom: pc-rem(60);
		border-top: 1px solid rgba(0,0,0,.5);
		border-bottom: 1px solid rgba(0,0,0,.5);

		.c-page-footer__sub {
			display: flex;
			padding-right: pc-rem(160);
			padding-left: pc-rem(160);
		}

		.c-breadcrumb {
			flex-grow: 1;
		}

		.c-page-nav {
			position: relative;
			top: pc-clamp(-6);
			width: pc-rem(160);
			min-width: pc-rem(160);
		}
	}
}


/** =================================================================
 *
 * ARTICLE HEADER
 *
 * --------------------------------------------------------------- */

.c-article-header {
	margin-top: pc-rem(100 - 3);

	.is--title {
		display: flex;
		flex-direction: column;
		row-gap: pc-rem(20 - 10);

		[lang='en'] {
			line-height: 1;
			font-size: pc-clamp(13);
			opacity: 0.8;
		}

		[lang='ja'] {
			font-size: pc-rem(34);
			line-height: 1 * 100/68;
		}
	}
}


/** =================================================================
 *
 * BANNER LINK
 *
 * --------------------------------------------------------------- */

.c-banner {
	margin-top: pc-rem(100);

	.c-banner__container {
		width: pc-rem(680);
		margin-right: auto;
		margin-left: auto;
		padding-top: pc-rem(40);
		border-top: 1px solid var(--color-black);
	}

	a {
		display: flex;
		background-color: var(--color-lightgray);

		@include transition('opacity', $dur--hover);
		@include taphover {
			opacity: .65;
		}

		picture {
			width: pc-rem(320);
		}

		> div {
			box-sizing: border-box;
			width: calc(100 - #{pc-rem(320)});
			padding: pc-rem(24) pc-rem(30);
		}
	}

	h4 {
		font-size: pc-clamp(18, 18 * $fs--min-ratio);
		font-weight: bold;
		position: relative;
		margin-top: pc-rem(24);
		padding-left: pc-clamp(24, 24 * $fs--min-ratio);

		.c-icon {
			font-size: pc-clamp(10);
			position: absolute;
			top: pc-rem(6);
			left: 0;
		}
	}

	.c-banner__description {
		font-weight: bold;
		margin-top: pc-rem(16);
		padding-left: pc-clamp(24, 24 * $fs--min-ratio);
	}
}

/** =================================================================
 *
 * SECTION HEADER
 *
 * --------------------------------------------------------------- */

.c-section-header {
	&.is--vertical {
		writing-mode: vertical-rl;
	}

	.is--title {
		display: flex;
		flex-direction: column;
		row-gap: pc-rem(17);

		span[lang='en'] {
			font-size: pc-clamp(13, 13 * $fs--min-ratio);
			line-height: 1;
		}

		span[lang='ja'] {
			font-size: pc-rem(34);
		}
	}

	.is--description {
		font-size: pc-rem(18);
		line-height: 1em * 64/36;

		margin-block-start: pc-rem(27);
	}
}


/** =================================================================
 *
 * BREADCRUMB
 *
 * --------------------------------------------------------------- */

.c-breadcrumb {
	font-size: pc-clamp(12, 10);
	line-height: 1;

	ul {
		display: flex;
		flex-wrap: wrap;
		row-gap: 1em;

		li {
			padding-right: 1em;
		}

		a {
			text-decoration: underline;

			text-decoration-color: #d4d4d4;
			@include taphover {
				text-decoration-color: var(--color-theme-bg-invert);
			}
		}

		li + li {
			&::before {
				line-height: 1em;
				display: inline-block;
				width: fit-content;
				padding-right: 1em;
				content: '>';
			}
		}
	}
}


/** =================================================================
 *
 * PAGE NAV
 *
 * --------------------------------------------------------------- */

.c-page-nav {
	ul {
		display: flex;
		flex-direction: column;
		row-gap: pc-rem(12);
	}
}


