/* ==================================================================
 *
 * COMPONENT
 *
 * ------------------------------------------------------------------
 *
 *
 *
 * --------------------------------------------------------------- */

/** =================================================================
 *
 * LAZY IMG
 *
 * --------------------------------------------------------------- */

.c-lazy[data-src] {
	opacity: 0;

	@include transition('opacity', .6s);

	&.is--loaded {
		opacity: 1;
	}
}


/** =================================================================
 *
 * SPINNER
 *
 * --------------------------------------------------------------- */

.c-spinner {
	position: absolute;
	z-index: 10000;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);

	img {
		display: block;
		width: 2em;
		height: 2em;
		animation-name: spinner;
		animation-duration: 3s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;

		@include sp () {
			width: 4em;
			height: 4em;
		}

		@keyframes spinner {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(359deg);
			}
		}
	}
}


/** =================================================================
 *
 * INSET MASK
 *
 * --------------------------------------------------------------- */

.c-inset-mask {
	clip-path: inset(0% 100% 0% 0%);

	.is--mask {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		background-color: var(--color-black);
	}
}


/** =================================================================
 *
 * PROGRESS
 *
 * --------------------------------------------------------------- */

.c-progress {
	circle {
		animation-name: progress;
		animation-duration: 6s;
		animation-timing-function: linear;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;

		@keyframes progress {
			0% {
				stroke-dasharray: 0 100;
			}
			100% {
				stroke-dasharray: 100 0;
			}
		}
	}
}


/** =================================================================
 *
 * NEWS TAG
 *
 * --------------------------------------------------------------- */

.c-news-tag {
	line-height: 1;
	position: relative;
	top: 1em * -1/11;
	display: inline-block;
	padding: (1em * 2/11) (1em * 15/11) (1em * 4/11) (1em * 15/11);
	border: 1px solid #999999;
	border-radius: 1em * 4/11;

	@include pc () {
		font-size: pc-clamp(11);
	}
	@include sp () {
		font-size: sp-rem(22);
	}
}


/** =================================================================
 *
 * CAREER TAG
 *
 * --------------------------------------------------------------- */

.c-career-tag {
	font-weight: bold;
	position: relative;
	display: inline-block;
	white-space: nowrap;

	@include pc () {
		font-size: pc-clamp(11);
	}
	@include sp () {
		font-size: sp-rem(22);
	}

	&::before {
		margin-right: .5em;
		content: $icon--content-circle;

		@extend %c-icon;
	}

	&[data-category='new'] {
		&::before {
			color: var(--color-green);
		}
	}
	&[data-category='career'] {
		&::before {
			color: var(--color-salmon);
		}
	}
}

a.c-career-tag {
	@include transition('opacity', $dur--hover);
	@include taphover {
		opacity: .7;
	}
}


/** =================================================================
 *
 * HEADER SET
 *
 * --------------------------------------------------------------- */

.c-header-set {
	position: relative;
	padding-top: pc-rem(22);

	@include sp ((
		padding-top: 58,
	)) {}

	&::before {
		@include pseudo-block((
			top: 0,
			left: 0,
			height: 1px,
			background-color: var(--color-black),
		)) {}

		@at-root [data-theme='dark'] & {
			background-color: var(--color-white);
		}
	}

	.c-header-set__title {
		display: flex;
		align-items: start;
		justify-content: space-between;

		h2 {
			display: flex;
			flex-direction: column;

			[lang='ja'] {
				font-size: pc-rem(40);
				font-weight: 500;

				@include sp ((
					font-size: 46,
				)) {}
			}

			[lang='en'] {
				font-size: pc-clamp(12, 10);
				font-weight: bold;

				@include pc ((
					margin-top: 32 - 2,
				)) {}
				@include sp ((
					font-size: 24,
					margin-top: 58,
				)) {}
			}
		}
	}

	.c-header-set__nav {
		font-size: pc-clamp(12, 10);
		line-height: 1;
		margin-top: 1em * -17/$fs;

		@include sp ((
			font-size: 22,
		)) {
			margin-top: 1em * 43/22;
		}

		ul {
			display: flex;
			column-gap: 2em;

			@include pc () {
				justify-content: end;
			}
		}
	}

	.c-header-set__description {
		font-size: pc-rem(17);
		margin-top: pc-rem(30);

		@include sp () {
			font-size: sp-rem(30);
			line-height: 1 * 52/30;
		}
	}
}


/** =================================================================
 *
 * LIST LINK
 *
 * --------------------------------------------------------------- */

a.c-list-link {
	line-height: 1;
	position: relative;
	display: inline-flex;
	align-items: end;
	flex-direction: column;

	@include pc ((
		padding-right: 36 + 20,
	)) {
		height: pc-rem(22);
	}
	@include sp ((
		padding-right: 45 + 18,
	)) {
		height: sp-rem(40);
	}
	@include taphover {
		.c-animate-underline::after {
			transform: scaleX(1);
		}

		.c-circle-arrow {
			// transform: translateX(.5rem) translateY(-50%);
			opacity: 1;
			background-color: var(--color-theme-text);

			.c-icon {
				color: var(--color-theme-text-invert);
			}
		}
	}

	span[lang='ja'] {
		font-size: pc-rem(22);
		position: relative;
		display: inline-block;
		white-space: nowrap;

		@include sp ((
			font-size: 40,
		)) {}
	}

	span[lang='en'] {
		padding-top: 1em;
		white-space: nowrap;
		text-transform: uppercase;

		@include pc ((
			right: 36 + 20,
		)) {
			font-size: pc-clamp(12, 9);
		}
		@include sp ((
			font-size: 24,
		)) {}
	}

	.c-circle-arrow {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);

		@include transition('transform, background-color', $dur--hover);

		.c-icon {
			@include transition('color', $dur--hover);
		}
	}
}


/** =================================================================
 *
 * ANIMATE UNDERLINE
 *
 * --------------------------------------------------------------- */

.c-animate-underline {
	position: relative;

	&::after {
		@include pseudo-block((
			bottom: -.2em,
			left: 0,
			height: 1px,
			transform: scaleX(0),
			transform-origin: 0 0,
			background-color: var(--color-black),
		)) {}
		@include transition('transform', $dur--hover);
	}
}


/** =================================================================
 *
 * ARROW LINK
 *
 * --------------------------------------------------------------- */

.c-arrow-link {
	display: flex;
	align-items: center;
	column-gap: 1em;

	@include pc () {
		margin-top: pc-rem(2);
	}
	@include sp () {
		margin-top: sp-rem(-2);
	}
	@include taphover {
		> span {
			text-decoration: underline;
		}

		.c-circle-arrow--border {
			// transform: translateX(1rem);
			color: var(--color-theme-text-invert);
			background-color: var(--color-theme-bg-invert);
		}
	}

	> span {
		font-size: pc-clamp(12);
		position: relative;

		@include sp () {
			font-size: sp-rem(22);
		}
	}

	.c-circle-arrow--border {
		color: var(--color-theme-text);
		background-color: var(--color-theme-bg);

		@include transition('color, background-color, transform, border-color', $dur--hover);
	}
}


/** =================================================================
 *
 * CIRCLE ARROW
 *
 * --------------------------------------------------------------- */

.c-circle-arrow {
	line-height: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	aspect-ratio: 1 / 1;
	border-radius: 50%;


	/** =================================================================
	 * BORDER
	 * --------------------------------------------------------------- */

	&.c-circle-arrow--border {
		font-size: pc-rem(36);
		width: 1em;
		border: 1px solid rgba($color--black, .3);

		@include sp () {
			font-size: sp-rem(45);
		}

		.c-icon {
			font-size: 1em * 11/36;

			@include sp () {
				font-size: 1em * 28/45;
				transform: scale(.5);
			}
		}
	}


	/** =================================================================
	 * PAGE
	 * --------------------------------------------------------------- */

	&.c-circle-arrow--page {
		font-size: pc-rem(36);
		width: 1em;
		color: var(--color-white);
		border: 1px solid rgba($color--black, .3);
		background-color: var(--color-black);

		@include transition('transform, opacity', .3s, $easing--easeInOutBack);

		.c-icon {
			font-size: 1em * 11/36;

			@include sp () {
				font-size: 1em * 28/45;
				transform: scale(.5);
			}
		}
	}


	/** =================================================================
	 * NEW and CAREER
	 * --------------------------------------------------------------- */

	&.c-circle-arrow--new,
	&.c-circle-arrow--career {
		font-size: pc-rem(18);
		width: 1em;

		@include sp ((
			font-size: 45,
		)) {}

		.c-icon {
			font-size: 1em * 5.5/18;

			@include sp () {
				font-size: 1em * 28/45;
				transform: scale(.5);
			}
		}
	}

	&.c-circle-arrow--new {
		background-color: var(--color-green);
	}

	&.c-circle-arrow--career {
		background-color: var(--color-salmon);
	}
}


/** =================================================================
 *
 * LINK EXTERNAL
 *
 * --------------------------------------------------------------- */

a.c-link-external {
	@include taphover {
		> span:not(.c-icon) {
			text-decoration: underline;
		}
	}

	.c-icon {
		@include pc () {
			font-size: pc-clamp(10);
		}
		@include sp () {
			font-size: sp-rem(20);
		}
	}

	.c-icon + span {
		margin-left: 1em * 6/10;
	}

	span + .c-icon {
		margin-right: 1em * 6/10;
	}
}


/** =================================================================
 *
 * CIRCLE PICTUE
 *
 * --------------------------------------------------------------- */

$pie_r: 31.8309886184;

.c-circle-picture {
	overflow: hidden;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
}

.c-chart {
	position: relative;

	.c-chart__wrap {
		position: relative;
		width: pc-rem(213);
		aspect-ratio: 1 / 1;
		margin: auto;
		border-radius: 50%;
		background-color: var(--color-white);

		@include sp () {
			width: sp-rem(213 * $statistics_ratio_sp);
		}
	}

	.c-chart__view {
		display: block;
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		padding: 1px;
	}

	.c-chart__body {
		fill: transparent;
		stroke-width: $pie_r;
		stroke-dashoffset: 25;
		stroke: #dbdcdc;
	}

	.c-chart__base {
		fill: #eeeeef;
	}

	.c-chart__legend2 {
		fill: #ffffff;
	}

	.c-chart__legend1 {
		fill: #edeef0;
		stroke-width: 1 * ($pie_r * 2)/(213 - 1 * 2);
		stroke: #716f70;
	}

	figcaption {
		font-size: pc-rem(16);
		line-height: 1 * 20/16;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		text-align: center;

		@include sp () {
			font-size: sp-rem(16 * $statistics_ratio_sp);
		}
	}
}


/** =================================================================
 *
 * PANE SCROLLER
 *
 * --------------------------------------------------------------- */

.c-pane-scroller {
	@include sp ((
		margin-right: -1 * $size--pad--sp,
		margin-left: -1 * $size--pad--sp,
	)) {
		overflow-x: scroll;
		width: 100vw;

		overscroll-behavior-x: none;
		scroll-snap-type: x mandatory;
		-ms-overflow-style: none;  // Edge
		scrollbar-width: none;  // Firefox

		&::-webkit-scrollbar {
			display: none;  // Safari • Chrome
		}
	}

	.c-pane-scroller__container {
		display: flex;

		@include pc () {
			column-gap: pc-rem(20);
		}
		@include sp ((
			padding-right: 40,
		)) {
			box-sizing: border-box;
		}

		> * {
			scroll-snap-align: start;
		}
	}
}
