/* ==================================================================
 *
 * LAYOUT
 *
 * ------------------------------------------------------------------
 *
 *
 *
 * --------------------------------------------------------------- */

.l-wrapper {
	@include pc ((
		width: 1120,
	)) {
		margin-right: auto;
		margin-left: auto;
	}
}

.l-container {
	@include pc () {
		padding-right: pc-rem($size--pad);
		padding-left: pc-rem($size--pad);
	}
	@include sp ((
		padding-right: $size--pad--sp,
		padding-left: $size--pad--sp,
	)) {}

	&.is--2col {
		@include pc () {
			display: flex;
			column-gap: pc-rem(80);
		}

		> div {
			@include pc () {
				width: calc(50% - #{pc-rem(80 * .5)});
			}
		}
		> div + div {
			@include sp () {
				margin-top: sp-rem(80);
			}
		}

		&.without--gap {
			@include pc () {
				column-gap: 0;

				> div {
					width: 50%;
				}
			}
		}
	}
}

.l-container--narrow {
	@include pc ((
		padding-right: 160 + $size--pad,
		padding-left: 160 + $size--pad,
	)) {}
	@include sp ((
		padding-right: $size--pad--sp,
		padding-left: $size--pad--sp,
	)) {}
}
