/* ==================================================================
 *
 * PROJECT
 *
 * ------------------------------------------------------------------
 *
 *
 *
 * --------------------------------------------------------------- */

/** =================================================================
 *
 * SWIPER PAGINATION
 *
 * --------------------------------------------------------------- */

.swiper-parent {
	position: relative;
}

.swiper-pagination {
	display: flex;
	justify-content: center;
	column-gap: pc-clamp(17);

	@include sp () {
		column-gap: sp-rem(24);
	}

	.swiper-pagination-bullet {
		position: relative;
		box-sizing: border-box;
		width: pc-clamp(8);
		height: pc-clamp(8);
		opacity: 1;
		border: 1px solid #858585;
		background-color: transparent;

		@include sp () {
			width: sp-rem(13);
			height: sp-rem(13);
		}

		&::after {
			box-sizing: border-box;
			transform: translate(-50%) translateY(-50%);
			pointer-events: all !important;
			border: none;

			@include pseudo-block((
				width: pc-clamp(18),
				height: pc-clamp(18),
				top: 50%,
				left: 50%,
			)) {}
			@include sp () {
				width: sp-rem(28);
				height: sp-rem(28);
			}
		}

		&.swiper-pagination-bullet-active {
			border: none;
			background-color: var(--color-black);

			&::before {
				box-sizing: border-box;
				transform: translate(-50%) translateY(-50%);
				border: 1px solid #858585;
				border-radius: 50%;

				@include pseudo-block((
					width: pc-clamp(18),
					height: pc-clamp(18),
					top: 50%,
					left: 50%,
				)) {}
				@include sp () {
					width: sp-rem(28);
					height: sp-rem(28);
				}
			}
		}
	}
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
	bottom: pc-clamp(-8 - 22);

	@include sp () {
		bottom: sp-rem(-13 - 28);
	}
}

.swiper-pagination-horizontal.swiper-pagination-bullets {
	.swiper-pagination-bullet {
		margin: 0;
	}
}

[data-theme='dark'] {
	.swiper-pagination {
		.swiper-pagination-bullet {
			&.swiper-pagination-bullet-active {
				background-color: var(--color-white);
			}
		}
	}
}


/** =================================================================
 *
 * GLOBAL HEADER
 *
 * --------------------------------------------------------------- */

#gh {
	position: fixed;
	z-index: var(--zi-gh);
	top: 0;
	left: 0;
	width: 100%;

	&:not(.is--scrolled) {
		@include taphover {
			.p-gh__bar {
				opacity: 1;
			}
		}
	}

	&.is--scrolled {
		.p-gh__bar {
			opacity: 1;
		}

		.p-sh {
			.p-site-title {
				opacity: 0;
			}
		}
	}

	&.is--opened {
		.p-gh__menu {
			.p-gm {
				transform: translateX(0%);
				pointer-events: all;
			}

			&::before,
			&::after {
				transform: translateX(0%);
			}
		}

		.p-sh {
			.p-site-title {
				opacity: 0;
			}
		}
	}

	.p-gh__bar {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: pc-clamp($size--gh);
		background-color: #ffffff;
		filter: drop-shadow(0 0 #{pc-clamp(20)} rgba(0,0,0,.2));

		@include pc () {
			opacity: 0;
		}
		@include sp () {
			height: sp-rem($size--gh--sp);
			filter: drop-shadow(0 0 #{sp-rem(40)} rgba(0,0,0,.2));
		}
		@include transition('opacity', .3s);
	}

	.p-sh {
		position: relative;
		z-index: var(--zi-2);

		&::before {
			@include pseudo-block((
				top: 0,
				left: 0,
				height: 2px,
			)) {
				z-index: var(--zi-2);
				opacity: .1;
				background-color: var(--color-black);
			}
		}
	}

	.p-gh__menu {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		pointer-events: none;

		&::before {
			@include pseudo-block((
				width: 100%,
				height: pc-clamp($size--gh),
				top: 0,
				left: 0,
				z-index: var(--zi-1),
				background-color: var(--color-bluegray),
				transform: translateX(100%),
			)) {}
			@include sp () {
				height: sp-rem($size--gh--sp);
			}
			@include transition('transform', .6s);
		}
		&::after {
			@include pseudo-block((
				width: 100%,
				height: pc-clamp(102 - $size--gh),
				top: calc(#{pc-clamp($size--gh)} - 1px),
				left: 0,
				z-index: var(--zi-1),
				background-image: clothoid-gradient('to bottom', $color--bluegray, 1, 0),
				transform: translateX(100%),
			)) {}
			@include sp () {
				top: calc(#{sp-rem($size--gh--sp)} - 1px);
				height: sp-rem(95 - $size--gh--sp);
			}
			@include transition('transform', .6s);
		}

		.p-gm {
			overflow-y: scroll;
			width: 100%;
			height: 100vh;
			height: 100dvh;
			transform: translateX(100%);
			background-color: var(--color-bluegray);

			overscroll-behavior: none;
			-ms-overflow-style: none;  // Edge
			scrollbar-width: none;  // Firefox
			@include sp () {
				height: 100vh;
			}
			@include transition('transform', .6s);

			&::-webkit-scrollbar {
				display: none;  // Safari • Chrome
			}

			.p-gm__container {
				@include pc () {
					height: 100%;
					// filter: drop-shadow(0 0 #{pc-clamp(20)} rgba(0,0,0,.2));
				}
				@include sp () {
					padding-bottom: calc(100vh - 100dvh);
				}

				> .l-wrapper {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					min-height: 100%;
				}
			}

			.p-gm__main {
				@include pc () {
					padding-top: pc-clamp(150);
				}
			}
		}
	}
}


/** =================================================================
 *
 * GLOBAL FOOTER
 *
 * --------------------------------------------------------------- */

#gf {
	position: relative;
	z-index: var(--zi-gf);

	@include sp () {
		margin-top: sp-rem(200);
	}
}


/** =================================================================
 *
 * SITE TITLE
 *
 * --------------------------------------------------------------- */

.p-site-title {
	position: absolute;
	z-index: var(--zi-2);
	right: 0;
	transform: translateX(50%);
	white-space: nowrap;
	writing-mode: vertical-rl;
	pointer-events: none;
	opacity: 1;

	@include transition('opacity', $dur--hover);
	@include pc () {
		top: pc-clamp(102);
		right: calc(#{1rem * $size--pad/$fs} + #{pc-clamp(18)});
	}
	@include sp ((
		top: 190,
		right: 40,
	)) {}

	.is--body {
		font-weight: bold;

		@include pc () {
			font-size: pc-clamp(10);
		}
		@include sp ((
			font-size: 20,
		)) {}

		span + span {
			margin-top: 1em;
		}
	}
}


/** =================================================================
 *
 * SITE HEADER
 *
 * --------------------------------------------------------------- */

.p-sh {
	position: absolute;
	z-index: var(--zi-1);
	top: 0;
	left: 0;
	width: 100%;

	.p-sh__container {
		position: relative;
		display: flex;
		justify-content: space-between;

		@include sp ((
			padding-left: 40,
			padding-right: 40 - 18
		)) {}

		.p-sh__buttons {
			display: flex;
		}
	}

	.p-sh__logoset {
		line-height: 1;
		display: flex;

		@include pc ((
			column-gap: 80,
		)) {}
		@include sp ((
			column-gap: 40,
		)) {}

		.p-sh__logo {
			white-space: nowrap;

			@include pc () {
				font-size: pc-clamp(35);
				width: pc-clamp(80);
				margin-top: pc-clamp(20);
			}
			@include sp ((
				font-size: 71,
				width: 159,
				margin-top: 35
			)) {}

			a {
				display: inline-block;
				width: 100%;

				@include transition('opacity', $dur--hover);
				@include taphover {
					opacity: .5;
				}
			}
		}
	}

	.p-sh__nav {
		line-height: 1;

		@include sp () {
			display: none;
		}

		ul {
			display: flex;
			border-right: 1px solid var(--color-border-rgba);
			border-left: 1px solid var(--color-border-rgba);

			@include pc () {
				height: pc-clamp($size--gh - 16);
			}

			li {
				a {
					position: relative;
					display: flex;
					flex-direction: column;
					box-sizing: border-box;
					background-color: transparent;

					@include transition('background-color', $dur--hover);
					@include pc ((
						width: 189,
					)) {
						min-width: 140px;
						height: pc-clamp($size--gh);
						padding-top: pc-clamp(24 - 1.5);
						padding-left: pc-clamp(20);
					}
					@include taphover {
						background-color: var(--color-white);

						&::before {
							transform: scaleX(1);
						}

						p {
							opacity: 1;
						}
					}

					&::before {
						@include pseudo-block((
							width: 100%,
							height: 5px,
							bottom: 0,
							left: 0,
							transform: scaleX(0),
							transform-origin: 0 0,
						)) {}
						@include transition('transform', $dur--hover);
					}

					&.is--new {
						&::before {
							background-color: var(--color-green);
						}
					}
					&.is--career {
						&::before {
							background-color: var(--color-salmon);
						}
					}

					span[lang='en'] {
						font-weight: 800;

						@include pc () {
							font-size: pc-clamp(12);
						}
					}

					span[lang='ja'] {
						@include pc () {
							font-size: pc-clamp(15);
							margin-top: pc-clamp(5);
						}
					}

					p {
						font-size: pc-rem(18);
						font-weight: bold;
						position: absolute;
						top: pc-clamp(8);
						left: pc-clamp(20);
						transform: scale(.5);
						transform-origin: 0 0;
						white-space: nowrap;
						opacity: 0;

						@include transition('opacity', $dur--hover);
					}
				}
			}

			li + li {
				border-left: 1px solid var(--color-border-rgba);
			}
		}
	}

	.p-sh__menu {
		line-height: 1;
		position: relative;

		@include pc () {
			width: pc-clamp(100);
			height: pc-clamp($size--gh - 16);
		}
		@include sp () {
			width: sp-rem(160);
		}

		span[lang='en'] {
			font-weight: 800;
			display: inline-block;

			@include pc () {
				font-size: pc-clamp(12);
				margin-top: pc-clamp(24 - 1.5);
				padding-left: pc-clamp(20);
			}
			@include sp () {
				font-size: sp-rem(24);
				margin-top: sp-rem(48 - 6);
			}
		}

		a {
			position: absolute;
			right: 0;
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;
			box-sizing: border-box;
			aspect-ratio: 1 / 1;
			will-change: background-color, transform;
			border: 1px solid #000000;
			border-radius: 50%;
			background-color: #000000;

			@include pc () {
				top: pc-clamp(20);
				width: pc-clamp(36);
			}
			@include sp () {
				top: sp-rem(34);
				width: sp-rem(72);
			}

			&.is--disabled {
				pointer-events: none;
			}

			div {
				@include pc () {
					width: pc-clamp(18);
				}
				@include sp () {
					width: sp-rem(36);
				}

				> span {
					display: block;
					height: 2px;
					will-change: background-color, transform;
					border-radius: 1px;
					background-color: #ffffff;

					@include sp () {
						height: 2px;
						border-radius: 1px;
					}
				}

				> span:nth-child(1) {
					width: 100%;
				}

				> span:nth-child(2) {
					width: 84%;
				}

				> span + span {
					@include pc () {
						margin-top: 4px;
					}
					@include sp () {
						margin-top: 4px;
					}
				}
			}

		}
	}
}


/** =================================================================
 *
 * GLOBAL MENU
 *
 * --------------------------------------------------------------- */

.p-gm {
	position: relative;
	z-index: var(--zi-0);

	@include sp () {
		box-sizing: border-box;
		padding-bottom: sp-rem(140);  // 140 は .p-lead の高さ
	}

	.p-gm__container {
		background-color: var(--color-bluegray);
	}

	.p-gm__main {
		position: relative;
		display: flex;
		box-sizing: border-box;

		@include pc () {
			width: 100%;
			padding-top: pc-clamp(100);
		}
		@include sp () {
			padding-top: sp-rem(190);
			padding-right: sp-rem(120);
			padding-left: 0;
		}

		.p-gm__list.is--main {
			display: flex;
			flex-direction: column;
			margin-left: auto;
			writing-mode: vertical-rl;

			@include pc () {
				padding-right: pc-clamp(100);
				border-left: 1px solid var(--color-border-rgba);
			}

			> li {
				position: relative;
				display: flex;
				cursor: pointer;
				border-right: 1px solid var(--color-border-rgba);

				@include transition('border-right-color, background-color', $dur--hover);
				@include taphover {
					border-right-color: #515252;
					background-color: rgba(#ffffff, .4);

					&::before {
						opacity: 1;
					}
				}
				@include pc ((
					padding-right: 24 - 2,
					padding-left: 48 - 2,
				)) {
					padding-top: pc-clamp(40);
					padding-bottom: pc-clamp(40);
					column-gap: pc-clamp(60);
				}
				@include sp ((
					padding-top: 120,
					padding-right: 20,
					padding-bottom: 40,
					padding-left: 20,
				)) {
					align-items: end;
					column-gap: sp-rem(120);
				}

				&.is--active {
					background-color: rgba(#ffffff, .4);
				}

				&::before {
					@include pseudo-block((
						top: 0,
						right: 0,
						width: 3px,
						height: 100%,
						background-color: #a2a3a3,
						opacity: 0,
					)) {}
					@include transition('opacity', $dur--hover);
				}
			}

			h4 {
				line-height: 1;

				a {
					position: relative;
					display: inline-flex;
					flex-direction: column;

					&::before {
						position: absolute;
						top: pc-clamp(-17);
						right: pc-clamp(6);
						transform: translateX(50%) translateY(-50%);

						@include sp () {
							top: sp-rem(-34);
							right: sp-rem(58);
						}
						@extend %c-icon;
					}

					&[target='_blank'] {
						&::before {
							font-size: pc-clamp(10);
							content: $icon--content-external;

							@include sp () {
								font-size: sp-rem(20);
							}
						}
					}
					&:not([target='_blank']) {
						&::before {
							font-size: pc-clamp(15);
							content: $icon--content-arrow_d;

							@include sp () {
								font-size: sp-rem(30);
							}
						}
					}

					span[lang='en'] {
						font-weight: bold;
						white-space: nowrap;

						@include pc () {
							font-size: pc-clamp(12);
						}
						@include sp () {
							font-size: sp-rem(24);
						}
					}

					span[lang='ja'] {
						font-weight: 500;
						white-space: nowrap;

						@include pc () {
							font-size: pc-clamp(24);
							margin-right: pc-clamp(7);
						}
						@include sp () {
							font-size: sp-rem(38);
							margin-right: sp-rem(14);
						}
					}
				}
			}

			.p-gm__list.is--sub {
				@include pc () {
					height: calc(100% - #{pc-clamp(276)});
				}
			}
		}
	}

	.p-gm__list.is--sub {
		@include pc () {
			font-size: pc-clamp(12);
			padding-right: pc-clamp(26 - 9);
		}
		@include sp () {
			font-size: sp-rem(26);
			display: flex;
			column-gap: sp-rem(120);
		}

		a {
			position: relative;
			display: inline-block;
			margin: -.5em;
			padding: .5em;
			white-space: nowrap;

			text-decoration-color: #686666;
			text-underline-offset: .2em;
			@include taphover {
				text-decoration: underline;
			}

			@at-root .ua-safari & {
				text-underline-offset: -1.2em;
			}

			&::before {
				font-size: pc-clamp(15);
				position: absolute;
				top: calc(.5em + #{pc-clamp(-17)});
				right: calc(.5em + #{pc-clamp(7)});
				content: $icon--content-arrow_d;
				transform: translateX(50%) translateY(-50%);

				@include sp () {
					top: calc(.5em + #{sp-rem(-32)});
					right: calc(.5em + #{sp-rem(17)});
				}
				@extend %c-icon;
			}

			&.is--active {
				text-decoration: underline;
			}
		}

		li + li {
			@include pc () {
				margin-right: 1em * 20/17;
			}
		}
	}

	.p-gm__footer {
		@include pc () {
			margin-top: pc-clamp(30);
			border-top: 1px solid var(--color-border-rgba);

			.p-gm__footer__container {
				display: flex;
				align-items: center;
				justify-content: space-between;

				.p-gm__footer__copyright {
					order: 1;
				}
				.p-gm__footer__links {
					order: 2;
				}
			}
		}
		@include sp () {
			padding-top: sp-rem(80);
			padding-bottom: sp-rem(80);
		}

		.p-gm__footer__links {
			display: flex;

			@include pc ((
				column-gap: 20,
				margin-left: 40,
				margin-right: 20,
				padding-top: 20,
				padding-bottom: 20,
			)) {
				font-size: pc-clamp(10);
				align-items: center;
			}
			@include sp () {
				font-size: sp-rem(20);
				flex-direction: column;
				row-gap: sp-rem(30);
			}

			li {
				white-space: nowrap;

				.c-icon {
					font-size: pc-clamp(10);
					margin-right: 1em * 8/10;

					@include sp () {
						font-size: sp-rem(20);
					}
				}

				.c-icon.c-icon--instagram {
					position: relative;

					@include pc () {
						font-size: pc-clamp(12);
						top: pc-clamp(1);
						margin-right: calc(#{1em * 8/10} - #{pc-clamp(2)});
					}
					@include sp () {
						font-size: sp-rem(24);
						top: sp-rem(2);
						left: sp-rem(-2);
						margin-right: calc(#{1em * 8/10} - #{sp-rem(4)});
					}
				}

				a {
					display: inline-block;
					margin: -.5em;
					padding: .5em;

					@include taphover {
						text-decoration: underline;
					}
				}
			}
		}

		.p-gm__footer__languages {
			@include pc () {
				font-size: pc-clamp(10);
				column-gap: pc-clamp(2);
			}
			@include sp ((
				column-gap: 30,
			)) {
				font-size: sp-rem(22);
				position: absolute;
				top: sp-rem(450);
				right: sp-rem(20);
				writing-mode: vertical-lr;

				.is--ja {
					order: 1;
				}
				.is--en {
					order: 2;
				}
				.is--cn {
					order: 3;
				}
			}

			a {
				display: block;
				white-space: nowrap;

				@include pc ((
					padding-top: 5,
					padding-right: 16,
					padding-bottom: 5,
					padding-left: 16,
				)) {
					border-radius: pc-clamp(3);
				}
				@include sp ((
					padding-top: 20,
					padding-right: 3,
					padding-bottom: 20,
					padding-left: 3,
				)) {
					box-sizing: border-box;
					border: 1px solid #2a1f1d;
					border-radius: sp-rem(6);
					background-color: #ffffff;
				}
				@include taphover {
					background-color: #ffffff;

					@include sp () {
						background-color: rgba(#ffffff, .8);
					}
				}
				@include transition('background-color', $dur--hover);

				&[data-stt-changelang='zh-CN'] {
					@include pc ((
						padding-right: 10,
					)) {}
					@include sp ((
						padding-bottom: 10,
					)) {}

					> span > span {
						@include sp () {
							display: inline-block;
							transform: translateX(.15em);
						}
					}
				}

				> span {
					display: inline-block;
				}

				&.is--active,
				&[data-stt-active] {
					pointer-events: none;
					background-color: #cdd1d4;

					@include sp () {
						border-color: #888e91;
					}
				}
			}
		}

		.p-gm__footer__copyright {
			font-weight: bold;
			white-space: nowrap;

			@include pc () {
				font-size: pc-clamp(12, 10);
			}
			@include sp ((
				padding-top: 40,
			)) {
				font-size: sp-rem(24);
			}
		}
	}
}


/** =================================================================
 *
 * SCROLL TO TOP
 *
 * --------------------------------------------------------------- */

.p-scroll-to-top {
	position:         sticky;
	position: -webkit-sticky;
	z-index: var(--zi-sst);
	bottom: 0;
	height: pc-rem(200);
	pointer-events: none;

	@include sp () {
		display: none;
	}

	a.c-circle-arrow {
		position: absolute;
		right: 20px;
		bottom: 50%;
		transform: translateY(50%);
		opacity: 0;

		@include taphover {
			transform: translateY(50%) scale(1.5);
		}

		&.is--active {
			pointer-events: all;
			opacity: 1;
		}
	}
}


/** =================================================================
 *
 * MODAL
 *
 * --------------------------------------------------------------- */

$modal-content-w: 16;
$modal-content-h: 9;
$modal-content-aspect: $modal-content-w/$modal-content-h;

.p-modal {
	position: fixed;
	z-index: var(--zi-modal);
	top: 0%;
	left: 0%;
	display: none;
	width: 100%;
	height: 100%;

	.p-modal__veil {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		background-color: var(--color-black);
	}

	.p-modal__wrapper {
		position: relative;
		z-index: var(--zi-1);
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;

		.p-modal__content {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			box-sizing: border-box;
			width: calc(100vh * #{$modal-content-aspect});
			height: 100vh;
			padding: pc-rem($size--pad);

			@include sp () {
				padding: sp-rem(40);
			}

			@media (max-aspect-ratio: #{$modal-content-w}/#{$modal-content-h}) {
				width: 100vw;
				height: 100vw* (1 / $modal-content-aspect);
			}

			.p-modal__video {
				position: relative;
				width: 100%;
				aspect-ratio: 16/9;
				opacity: 0;
				background-color: var(--color-black);

				#player {
					width: 100%;
					height: 100%;
					vertical-align: bottom;
					border: none;
				}
			}

			.p-modal__close {
				line-height: 1;
				position: absolute;
				top: 0;
				right: 0;

				a {
					font-size: 2em;
					display: inline-flex;
					align-items: center;
					justify-content: center;
					width: 1.5em;
					height: 1.5em;
					transform: translateX(50%) translateY(-50%);
					text-decoration: none;
					color: var(--color-black);
					border-radius: 50%;
					background-color: var(--color-white);

					@include transition('color, background-color', $dur--hover);
					@include taphover {
						color: var(--color-white);
						background-color: var(--color-black);
					}
				}
			}
		}
	}
}


/** =================================================================
 *
 * LEAD
 *
 * --------------------------------------------------------------- */

.p-lead {
	line-height: 1;
	position: relative;

	@include pc () {
		display: none;
	}
	@include sp ((
		padding-right: 0,
		padding-left: 0,
		padding-bottom: 24,
	)) {
		position: fixed;
		z-index: var(--zi-news-footer);
		bottom: 0;
		width: 100%;
		border-top: 2px solid var(--color-black);
		background-color: var(--color-white);
	}

	h5 {
		@include pc () {
			display: none;
		}
		@include sp () {
			font-size: sp-rem(16);
			font-weight: bold;
			line-height: 1;
			margin-top: 1em * 18/16;
			margin-bottom: 1em * 18/16;
			text-align: center;
		}
	}

	ul {
		display: flex;

		@include pc () {
			width: pc-clamp(680);
			margin: 0 auto;
			column-gap: 2px;
		}

		li.p-lead__item {
			@include pc () {
				width: calc(50% - 1px);
			}
			@include sp () {
				width: calc(50% - .5px);
				text-align: center;
			}

			&.is--new {
				a {
					@include taphover {
						> div {
							&::before {
								transform: scaleX(1);
								background-color: var(--color-green);
							}
						}
					}
				}
			}
			&.is--career {
				a {
					@include taphover {
						> div {
							&::before {
								transform: scaleX(1);
								background-color: var(--color-salmon);
							}
						}
					}
				}
			}

			a {
				display: block;

				> div {
					position: relative;

					@include pc () {
						position: relative;
						display: flex;
						align-items: end;
						flex-wrap: wrap;
						padding: pc-rem(24) pc-rem(30) calc(#{pc-rem(24)} - 5px) pc-rem(30);
						border-bottom: 5px solid #cccccc;
						background-color: var(--color-white);

						&::before {
							@include pseudo-block((
								bottom: -5px,
								left: 0,
								height: 5px,
								transform: scaleX(0),
								transform-origin: 0 0,
							)) {}
							@include transition('transform', $dur--hover);
						}
					}
					@include sp () {
						display: inline-flex;
						flex-direction: column;
					}
					@include transition('border-bottom-color', $dur--hover);
				}

				h6 {
					position: relative;

					@include pc () {
						display: contents;
					}
					@include sp () {
						padding-right: sp-rem(24 + 45);
						text-align: right;
					}

					[lang='en'],
					[lang='ja'] {
						display: block;
					}

					[lang='en'] {
						font-size: pc-clamp(12);
						font-weight: 800;
						width: 100%;
						margin-bottom: 1em * 9/12;

						@include sp () {
							font-size: sp-rem(20);
							margin-bottom: 1em * 13/20;
						}
					}

					[lang='ja'] {
						font-size: pc-clamp(15);
						font-weight: 500;

						@include sp () {
							font-size: sp-rem(26);
						}
					}

					.c-circle-arrow {
						position: absolute;
						pointer-events: none;

						@include transition('opacity', $dur--hover);
						@include pc () {
							display: none;
						}
						@include sp () {
							top: 50%;
							right: 0;
							transform: translateY(-50%);
						};
					}
				}

				.p-lead__item__process {
					font-size: pc-clamp(9);
					font-weight: bold;

					@include pc ((
						margin-left: 26,
					)) {
						white-space: nowrap;
					}
					@include sp () {
						display: none;
					}
				}
			}
		}

		li.p-lead__item + li.p-lead__item {
			@include sp () {
				border-left: 1px solid var(--color-border);
			}
		}
	}
}


/** =================================================================
 *
 * ARTICLE FOOTER
 *
 * --------------------------------------------------------------- */

.p-article__footer {
	margin-top: pc-rem(100);

	@include sp () {
		margin-top: sp-rem(100);
	}
}

.p-article__footer__links {
	display: flex;

	@include pc () {
		column-gap: 2px;
	}
	@include sp () {
		flex-wrap: wrap;
		column-gap: sp-rem(20);
	}

	%prev_pc {
		@include pc () {
			order: 1;
			border-bottom-left-radius: pc-rem(16);
		}
	}

	%prev_sp {
		@include sp () {
			border-bottom-left-radius: sp-rem(16);
		}
	}

	%next_pc {
		@include pc () {
			order: 3;
			border-bottom-right-radius: pc-rem(16);

			a.p-article__footer__link {
				flex-direction: row-reverse;

				.p-article__footer__link__thumb {
					margin-left: 0;

					.c-circle-arrow {
						right: pc-rem(-10);
						left: unset;

						.c-icon {
							transform: rotate(180deg);
						}
					}
				}
			}
		}
	}

	%next_sp {
		@include sp () {
			border-bottom-right-radius: sp-rem(16);

			a.p-article__footer__link {
				.p-article__footer__link__thumb {
					margin-left: 0;

					.c-circle-arrow {
						top: 50%;
						right: sp-rem(-72 + 17);
						left: unset;
						transform: translateY(-50%);

						.c-icon {
							transform: scale(.5) rotate(180deg);
						}
					}
				}
			}
		}
	}

	&.is--reverse--pc {
		li {
			&.is--prev {
				@extend %next_pc;
				@extend %prev_sp;
			}

			&.is--next {
				@extend %prev_pc;
				@extend %next_sp;
			}
		}
	}

	&:not(.is--reverse--pc) {
		li {
			&.is--prev {
				@extend %prev_pc;
				@extend %prev_sp;
			}

			&.is--next {
				@extend %next_pc;
				@extend %next_sp;
			}
		}
	}

	li {
		overflow: hidden;

		@include pc () {
			border-top: 5px solid #cccccc;
		}

		&.is--center {
			display: flex;
			align-items: center;
			box-sizing: border-box;

			@include pc () {
				order: 2;
				width: pc-rem(236);
				padding: pc-rem(25) pc-rem(38) pc-rem(30) pc-rem(38);
				background-color: #f7f7f7;
			}
			@include sp () {
				width: 100%;
				padding: sp-rem(60) sp-rem(140);
				border-top: 1px solid var(--color-border);
			}

			.c-button.c-button--round {
				width: 100%;

				@include sp () {
					color: var(--color-white);
					background-color: #7f7f7f;

					@include taphover {
						background-color: var(--color-theme-text);
					}
				}
			}
		}

		&.is--prev,
		&.is--next {
			width: calc((100% - #{pc-rem(236)} - 2px * 2) * .5);
			background-color: #f7f7f7;

			@include sp () {
				width: calc((100% - #{sp-rem(20)}) / 2);
			}
		}

		a.p-article__footer__link {
			display: flex;
			height: 100%;

			@include pc () {
				justify-content: space-between;
				padding: pc-rem(25) pc-rem(30) pc-rem(30) pc-rem(30);
				column-gap: pc-rem(10);
			}
			@include sp () {
				flex-direction: column;
				padding: sp-rem(40);
			}
			@include taphover {
				background-color: darken(#f7f7f7, 5);

				.c-circle-arrow {
					color: var(--color-theme-bg);
					background-color: var(--color-theme-bg-invert);
				}
			}
			@include transition('background-color', $dur--hover);

			.p-article__footer__link__thumb {
				position: relative;

				@include pc () {
					width: pc-rem(100);
					height: pc-rem(100);
				}
				@include sp () {
					width: sp-rem(100);
					height: sp-rem(100);
					margin: 0 auto;
				}

				.c-circle-arrow {
					position: absolute;
					z-index: var(--zi-1);
					bottom: pc-rem(-10);
					left: pc-rem(-10);
					background-color: var(--color-white);

					@include sp () {
						font-size: sp-rem(72);
						top: 50%;
						left: sp-rem(-72 + 17);
						transform: translateY(-50%);
					}
					@include transition('color, background-color', $dur--hover);
				}
			}

			.p-article__footer__link__title {
				@include pc () {
					width: calc(100% - #{pc-rem(100 + 30)});
				}
				@include sp () {
					margin-top: sp-rem(40);
				}

				h4 {
					font-size: pc-clamp(14, 14 * $fs--min-ratio);
					font-weight: bold;
					line-height: 1em * 17.5/14;

					@include sp () {
						font-size: sp-rem(28);
					}
				}

				p {
					font-size: pc-rem(14);
					margin-top: 1em * 10/14;

					@include sp () {
						font-size: sp-rem(24);
					}
				}
			}
		}
	}
}
