/* ==================================================================
 *
 * PROJECT
 *
 * ------------------------------------------------------------------
 *
 *
 *
 * --------------------------------------------------------------- */


/** =================================================================
 *
 * GLOBAL HEADER
 *
 * --------------------------------------------------------------- */

#gh {
	position: sticky;
	z-index: var(--zi-gh);
	top: 0;
	left: 0;
	width: 100%;

	.p-sh {
		&::before {
			@include pseudo-block((
				top: 0,
				left: 0,
				height: 2px,
			)) {
				z-index: var(--zi-2);
				opacity: .1;
				background-color: var(--color-black);
			}
		}
	}

	.p-gm {
		position: absolute;
		top: 0;
		left: 0;
		overflow-x: hidden;
		width: 100%;
		pointer-events: none;

		.p-gm__container {
			transform: translateX(100%);
			pointer-events: all;
		}
	}
}

#gf {
	position: relative;
	margin-top: pc-rem(200);
}


/** =================================================================
 *
 * SITE HEADER
 *
 * --------------------------------------------------------------- */

.p-sh {
	position: absolute;
	z-index: var(--zi-1);
	top: 0;
	left: 0;
	width: 100%;

	.p-sh__container {
		position: relative;
		display: flex;
		justify-content: space-between;

		.p-sh__buttons {
			display: flex;
		}
	}

	.p-sh__title {
		position: absolute;
		right: 0;
		transform: translateX(50%);
		white-space: nowrap;
		writing-mode: vertical-rl;
		pointer-events: none;

		@include pc () {
			top: pc-clamp(102);
			right: calc(#{1rem * $size--pad/$fs} + #{pc-clamp(18)});
		}

		.is--body {
			font-weight: bold;

			@include pc () {
				font-size: pc-clamp(10);
			}

			span + span {
				margin-top: 1em;
			}
		}
	}

	.p-sh__logoset {
		line-height: 1;
		display: flex;

		@include pc ((
			column-gap: 80,
		)) {}

		.p-sh__logo {
			@include pc () {
				font-size: pc-clamp(35);
				width: pc-clamp(80);
				margin-top: pc-clamp(20);
			}
		}

		.p-sh__logoset__text {
			@include pc () {
				font-size: pc-clamp(12);
				margin-top: pc-clamp(24 - 1.5);
			}

			p + p {
				margin-top: 1em * 12/16;
				text-transform: uppercase;
			}
		}
	}

	.p-sh__nav {
		line-height: 1;

		ul {
			display: flex;
			border-right: 1px solid var(--color-border);
			border-left: 1px solid var(--color-border);

			li {
				a {
					display: flex;
					flex-direction: column;
					box-sizing: border-box;

					@include pc ((
						width: 189,
					)) {
						height: pc-clamp(60);
						padding-top: pc-clamp(24 - 1.5);
						padding-left: pc-clamp(20);
					}

					span[lang='en'] {
						font-weight: 800;

						@include pc () {
							font-size: pc-clamp(12);
						}
					}

					span[lang='ja'] {
						@include pc () {
							font-size: pc-clamp(15);
							margin-top: pc-clamp(5);
						}
					}
				}
			}

			li + li {
				border-left: 1px solid var(--color-border);
			}
		}
	}

	.p-sh__menu {
		line-height: 1;
		position: relative;

		@include pc () {
			width: pc-clamp(100);
			height: pc-clamp(60);
		}

		span[lang='en'] {
			font-weight: 800;
			display: inline-block;

			@include pc () {
				font-size: pc-clamp(12);
				margin-top: pc-clamp(24 - 1.5);
				padding-left: pc-clamp(20);
			}
		}

		a {
			position: absolute;
			right: 0;
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;
			aspect-ratio: 1 / 1;
			border-radius: 50%;
			background-color: var(--color-black);

			@include pc () {
				top: pc-clamp(20);
				width: pc-clamp(36);
			}

			div {
				@include pc () {
					width: pc-clamp(18);
				}

				span {
					display: block;
					height: 2px;
					border-radius: 1px;
					background-color: var(--color-white);
				}

				span:nth-child(1) {
					width: 100%;
				}

				span:nth-child(2) {
					width: 100% * 15/18;
				}

				span + span {
					@include pc () {
						margin-top: 4px;
					}
				}
			}

		}
	}
}


/** =================================================================
 *
 * GLOBAL MENU
 *
 * --------------------------------------------------------------- */

.p-gm {
	position: relative;
	z-index: var(--zi-0);

	.p-gm__container {
		background-color: var(--color-bluegray);
	}

	.p-gm__main {
		box-sizing: border-box;

		@include pc () {
			width: 100%;
			padding-top: pc-clamp(150);
		}

		.p-gm__list.is--main {
			display: flex;
			flex-direction: column;
			margin-left: auto;
			writing-mode: vertical-rl;
			border-left: 1px solid var(--color-border);

			@include pc () {
				padding-right: pc-clamp(100);
			}

			> li {
				display: flex;
				border-right: 1px solid var(--color-border);

				@include pc ((
					padding-right: 24 - 2,
					padding-left: 48 - 2,
				)) {
					padding-top: pc-clamp(40);
					padding-bottom: pc-clamp(40);
				}
			}

			h4 {
				line-height: 1;

				@include pc () {
					height: pc-clamp(276);
				}

				a {
					position: relative;
					display: inline-flex;
					flex-direction: column;

					&::before {
						position: absolute;
						top: pc-clamp(-17);
						right: pc-clamp(6);
						transform: translateX(50%) translateY(-50%);

						@extend %c-icon;
					}

					&[target='_blank'] {
						&::before {
							font-size: pc-clamp(10);
							content: $icon--content-external;
						}
					}
					&:not([target='_blank']) {
						&::before {
							font-size: pc-clamp(15);
							content: $icon--content-arrow_d;
						}
					}

					span[lang='en'] {
						font-weight: bold;

						@include pc () {
							font-size: pc-clamp(12);
						}
					}

					span[lang='ja'] {
						font-weight: 500;

						@include pc () {
							font-size: pc-clamp(24);
							margin-right: pc-clamp(7);
						}
					}
				}
			}

			.p-gm__list.is--sub {
				@include pc () {
					height: calc(100% - #{pc-clamp(276)});
				}
			}
		}
	}

	.p-gm__list.is--sub {
		@include pc () {
			font-size: pc-clamp(12);
			padding-right: pc-clamp(26 - 9);
		}

		a {
			position: relative;
			display: inline-block;
			white-space: nowrap;

			&::before {
				font-size: pc-clamp(15);
				position: absolute;
				top: pc-clamp(-17);
				right: pc-clamp(8);
				content: $icon--content-arrow_d;
				transform: translateX(50%) translateY(-50%);

				@extend %c-icon;
			}
		}

		li + li {
			margin-right: 1em * 20/17;
		}
	}

	.p-gm__footer {
		margin-top: pc-clamp(30);
		border-top: 1px solid var(--color-border);

		.p-gm__footer__container {
			display: flex;
			align-items: center;

			.p-gm__footer__copyright {
				order: 1;
			}
			.p-gm__footer__links {
				flex-grow: 1;
				order: 2;
			}
			.p-gm__footer__languages {
				order: 3;
			}
		}

		.p-gm__footer__links,
		.p-gm__footer__languages {
			display: flex;
			align-items: center;

			@include pc ((
				padding-top: 20,
				padding-bottom: 20,
			)) {}
		}

		.p-gm__footer__links {
			@include pc ((
				column-gap: 20,
				margin-left: 40,
				margin-right: 20,
			)) {
				font-size: pc-clamp(10);
			}

			li {
				white-space: nowrap;

				&::before {
					font-size: pc-clamp(10);
					margin-right: 1em * 8/10;
					content: $icon--content-external;

					@extend %c-icon;
				}
			}
		}

		.p-gm__footer__languages {
			@include pc ((
				column-gap: 20,
			)) {
				font-size: pc-clamp(10);
			}

			a {
				display: inline-block;
				white-space: nowrap;
				border-radius: pc-clamp(3);

				@include pc ((
					padding-top: 5,
					padding-bottom: 5,
				)) {}

				&.is--active {
					background-color: #ccd2d3;

					@include pc ((
						padding-right: 20,
						padding-left: 20,
					)) {}
				}
			}
		}

		.p-gm__footer__copyright {
			font-weight: bold;
			white-space: nowrap;

			@include pc () {
				font-size: pc-clamp(12, 10);
			}
		}
	}
}
