/** =================================================================
 *
 * ABOUT
 *
 * ------------------------------------------------------------------
 *
 *
 *
 * --------------------------------------------------------------- */

/** =================================================================
 *
 * MESSAGE
 *
 * --------------------------------------------------------------- */

.p-about__message {

	.p-about__message__header {
		.c-article-header {
			.c-article-header__title [lang='ja'] i {
				font-family: 'ヒラギノ明朝 ProN W6', 'HiraMinProN-W6', 'HG明朝E', 'ＭＳ Ｐ明朝', 'MS PMincho', 'MS 明朝', serif;
				font-size: pc-rem(44);
				font-style: normal;
				display: inline-block;
				height: 1em * 34/44;
				transform: translateY(-80%);
				vertical-align: bottom;
			}
		}
	}

	.p-about__message__sec {
		margin-top: pc-rem(60 - 10);

		header {
			padding-top: pc-rem(80 - 10);
			border-top: 1px solid var(--color-border);

			h3 {
				font-size: pc-rem(30);
				font-weight: 700;
				line-height: 1 * 84/60;
				color: #333333;
			}
		}

		picture {
			overflow: hidden;
			border-radius: pc-rem(4);
		}

		.p-about__message__sec__body {
			line-height: 1 * 1.75;
			padding-top: pc-rem(40 - 12);

			p {
				text-indent: 1em;
			}
		}
	}

	.p-about__message__sec1 {
		figure {
			figcaption {
				font-size: pc-clamp(14, 14 * $fs--min-ratio);
				line-height: 1;
				margin-top: 1em;
			}
		}
	}

	.p-about__message__sec2 {
		picture {
			margin-top: pc-rem(40);
			margin-bottom: pc-rem(40 - 28);
		}
	}

	.p-about__message__sec3 {
		.l-container {
			> div {
				position: relative;
			}
		}

		.p-about__message__sec3__picture {
			position: absolute;
			top: 0;
			left: 0;
			width: 50vw;

			picture {
				width: pc-rem(480);
				margin-left: auto;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
		}

		.p-about__message__sec__body {
			p.u-align--right {
				font-size: pc-clamp(14, 14 * $fs--min-ratio);
				line-height: 1;
			}
		}
	}

}


/** =================================================================
 *
 * CSR
 *
 * --------------------------------------------------------------- */

.p-about__csr {

	.p-about__csr__nav {
		margin-top: pc-rem(80);
		margin-bottom: calc(#{pc-rem(80)} - pc-clamp($size--gh));

		ul {
			font-size: pc-rem(19);
			font-style: italic;
			line-height: 1;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			padding: pc-rem(36);
			column-gap: 2em;
			row-gap: pc-rem(30);
			border-radius: pc-rem(5);
			background-color: #f1f1f1;

			li {
				a {
					@include taphover {
						.c-animate-underline::after {
							transform: scaleX(1);
						}
					}

					&.is--active {
						.c-animate-underline::after {
							transform: scaleX(1);
						}
					}

					.c-animate-underline::after {
						bottom: 0;
					}
				}
			}
		}
	}

	.p-about__csr__sec {
		padding-top: pc-clamp($size--gh);

		header {
			width: 50%;
			padding-top: pc-rem(15);
			padding-right: pc-rem(10);
			padding-left: pc-rem(10);
			border-top: 1px solid var(--color-border);

			h3 {
				font-size: pc-rem(22);
			}
		}

		a.p-about__csr__link {
			display: flex;
			flex-direction: column;
			row-gap: pc-rem(30);
			pointer-events: none;

			@include taphover {
				.p-about__csr__link__thumb {
					picture {
						transform: scale($scale--hover);
					}
				}
			}

			.p-about__csr__link__thumb {
				overflow: hidden;
				aspect-ratio: 16 / 9;
				pointer-events: all;

				picture {
					width: 100%;
					height: 100%;

					@include transition('transform', $dur--hover);
				}
			}

			p {
				font-size: pc-clamp(15, 15 * $fs--min-ratio);
				position: relative;
				padding-left: pc-clamp(11 + 10);
				text-indent: pc-clamp(-11);
				pointer-events: all;

				.c-icon {
					font-size: pc-clamp(11);
					padding-right: 1em * 10/11;
				}

				.is--text {
					font-weight: bold;
				}
			}
		}

		ul {
			display: flex;
			margin-top: pc-rem(40);
			column-gap: pc-rem(40);

			li {
				width: calc((100% - #{pc-rem(40 * 2)}) / 3);
			}
		}
	}

	.p-about__csr__sec + .p-about__csr__sec {

	}

}
