/** =================================================================
 *
 * TOP
 *
 * ------------------------------------------------------------------
 *
 *
 *
 * --------------------------------------------------------------- */

main.p-top {
	width: 100%;


	/** =================================================================
	 *
	 * HERO
	 *
	 * --------------------------------------------------------------- */

	.p-hero {
		position: relative;
		z-index: var(--zi-5);
		overflow: hidden;
		background-color: var(--color-white);

		@include pc () {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100vh;
			min-height: 796px;
		}
		@include sp ((
			padding-top: 140,
		)) {}

		.swiper-parent {
			width: 100%;
			height: 100%;

			@include pc () {
				position: absolute;
				z-index: var(--zi-0);
				top: 0;
				left: 0;
			}

			.swiper {
				width: 100%;
				height: 100%;
				will-change: transform;

				@include sp () {
					transform: translateY(0%) !important;
				}

				.swiper-slide {
					height: 100%;

					@include sp () {
						aspect-ratio: 1480/796;
					}

					picture {
						width: 100%;
						height: 100%;
					}
				}
			}

			.swiper-pagination {
				@include pc () {
					right: pc-rem($size--pad);
					bottom: pc-clamp(16);
					left: unset;
					justify-content: end;
					mix-blend-mode: multiply;
				}
			}
		}

		.p-hero__body {
			position: relative;
			z-index: var(--zi-1);

			@include pc ((
				width: 680,
			)) {}
			@include sp ((
				padding-top: 88,
				padding-right: 40,
				padding-bottom: 44,
				padding-left: 40,
			)) {}

			h2, p {
				img,
				object {
					width: 100%;
					height: auto;
				}
			}

			h2 {
				position: relative;
				background-color: #ffffff;

				@include pc () {
					padding: 0 pc-rem(12);
				}
			}

			p {
				line-height: 1;

				> span {
					position: relative;
					display: block;
					background-color: #ffffff;

					@include pc () {
						padding: 0 pc-rem(12);
					}
					@include sp () {

					}

					.is--mask {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						background-color: var(--color-white);
					}
				}

				> span + span {
					@include pc () {
						margin-top: pc-rem(6);
					}
					@include sp () {
						margin-top: sp-rem(6);
					}
				}
			}

			h2 + p {
				@include pc () {
					margin-top: 100vh * 164/796;
				}
				@include sp () {
					margin-top: sp-rem(24);
				}
			}
		}

		.p-hero__lead {
			position: absolute;
			z-index: var(--zi-2);
			bottom: 100vh * 62/796;
			left: 50%;
			width: 0;
			height: 0;

			@include sp () {
				display: none;
			}
			/*
			.c-progress {
				position: relative;
				width: pc-rem(58 * 2);
				height: pc-rem(58 * 2);
				transform: translateX(-50%) translateY(-50%);
				pointer-events: none;
				@include sp () {
					display: none;
				}
			}
			*/
			@include taphover {
				> p {
					transform: translateX(-50%) translateY(0em);
					opacity: 1;
				}

				.p-hero__arrow.c-circle-arrow--page {
					color: var(--color-black);

					&::before {
						transform: scale(0);
					}
				}
			}

			> p {
				font-size: pc-clamp(12);
				line-height: 1;
				position: absolute;
				top: 1.8em;
				transform: translateX(-50%) translateY(-1em);
				white-space: nowrap;
				pointer-events: none;
				opacity: 0;

				@include transition('opacity, transform', $dur--hover);
			}

			.p-hero__arrow.c-circle-arrow--page {
				position: absolute;
				top: 50%;
				left: 50%;
				cursor: pointer;
				transform: translateX(-50%) translateY(-50%);
				border: none;
				background-color: transparent;

				@include pc () {
					font-size: pc-rem(50);
				}
				@include sp () {
					display: none;
				}
				@include transition('color', $dur--hover);

				.c-icon {
					font-size: 1em * 26/50;
				}

				&::before {
					@include pseudo-block((
						background-color: var(--color-black),
						z-index: -1,
						border-radius: 50%,
					)) {}
					@include transition('transform', $dur--hover);
				}
			}
		}
	}


	/** =================================================================
	 *
	 * NEWS
	 *
	 * --------------------------------------------------------------- */

	.p-news {
		position: relative;
		background-color: rgba($color--brown, .1);

		.p-news__main {
			@include pc () {
				display: flex;
				padding-top: pc-rem(40);
				padding-bottom: pc-rem(40);
			}
			@include sp () {
				padding-top: sp-rem(80);
				padding-bottom: sp-rem(80);
			}
		}

		header {
			@include pc () {
				width: pc-rem(160);
				padding-top: pc-rem(6);
			}
			@include sp () {
				display: flex;
				align-items: end;
				justify-content: space-between;
				width: 100%;
			}

			h3 {
				font-weight: bold;
				display: flex;
				flex-direction: column;

				[lang='ja'] {
					font-size: pc-rem(23);

					@include sp () {
						font-size: sp-rem(46);
					}
				}

				[lang='en'] {
					@include pc ((
						margin-top: 24,
					)) {
						font-size: pc-clamp(12);
					}
					@include sp ((
						margin-top: 48,
					)) {
						font-size: sp-rem(24);
					}
				}
			}

			p {
				@include pc ((
					margin-top: 24,
					margin-left: 40,
				)) {
					font-size: pc-clamp(11);
				}
				@include sp () {
					font-size: sp-rem(22);
					position: relative;
					top: sp-rem(2);
				}
			}
		}

		.p-news__list {
			@include pc () {
				width: calc(100% - #{pc-rem(160)});
			}
			@include sp () {
				margin-top: sp-rem(40);
			}

			.p-news__item {
				display: flex;
				cursor: pointer;
				border-top: 1px solid var(--color-border);

				@include sp () {
					flex-wrap: wrap;
					justify-content: space-between;
					padding-bottom: sp-rem(36);
				}

				time {
					line-height: 1 * 40/27.4;
					position: relative;
					display: inline-block;
					box-sizing: border-box;
					white-space: nowrap;

					@include pc () {
						font-size: pc-clamp(14);
						top: pc-clamp(1);
						width: pc-clamp(120);
						padding-top: pc-clamp(14);
						padding-bottom: pc-clamp(14);
						padding-left: pc-clamp(10);
					}
					@include sp () {
						font-size: sp-rem(28);
						order: 1;
						padding-top: sp-rem(17);
						padding-bottom: sp-rem(17);
						padding-left: sp-rem(10);
					}
				}

				h4 {
					line-height: 1 * 40/27.4;
					width: calc(100%  - #{pc-clamp(160 + 120)});

					@include pc () {
						font-size: pc-clamp(14);
						padding-top: pc-clamp(14);
						padding-bottom: pc-clamp(14);
					}
					@include sp () {
						font-size: sp-rem(28);
						order: 3;
						box-sizing: border-box;
						width: 100%;
						padding-right: sp-rem(10);
						padding-left: sp-rem(10 + 36);
					}

					a {
						position: relative;

						text-decoration-color: #c8c7c6;
						text-underline-offset: .2em;

						.c-icon {
							font-size: pc-clamp(10);
							position: absolute;
							top: .6em;
							left: -1.8em;
						}
					}
				}

				.p-news__item__category {
					line-height: 1 * 40/27.4;
					box-sizing: border-box;
					text-align: right;
					white-space: nowrap;

					@include pc () {
						font-size: pc-clamp(14);
						width: pc-clamp(160);
						padding-top: pc-clamp(14);
						padding-right: pc-clamp(10);
						padding-bottom: pc-clamp(14);
					}
					@include sp () {
						font-size: sp-rem(28);
						order: 2;
						padding-top: sp-rem(13);
						padding-right: sp-rem(10);
						padding-bottom: sp-rem(13);
					}

					.c-career-tag {
						min-width: pc-clamp(82.5);
						margin: -.5em;
						padding: .5em;
						text-align: left;

						@include sp () {
							min-width: sp-rem(82.5 * 2);
						}
					}
				}
			}
		}

		.p-lead {
			@include pc () {
				display: block;
			}
		}
	}


	/** =================================================================
	 *
	 * ABOUT
	 *
	 * --------------------------------------------------------------- */

	.p-about {
		@include pc () {
			overflow-x: hidden;
			margin-top: pc-rem(200 - 26);
			padding-top: pc-rem(26);
		}
		@include sp ((
			margin-top: 400,
		)) {}

		.c-header-set {
			@include pc () {
				width: 50%;
			}
		}

		.p-about__list {
			@include pc () {
				width: 50%;
				margin-top: pc-rem(60);
			}
			@include sp () {
				margin-top: sp-rem(100);
			}
		}


		/** =================================================================
		 * MESSAGE
		 * --------------------------------------------------------------- */

		.p-about__message {
			display: flex;
			align-items: center;
			justify-content: end;

			@include pc () {
				column-gap: pc-rem(20);
			}
			@include sp () {
				column-gap: sp-rem(40);
			}

			.p-about__item__main {
				a.c-list-link {
					position: relative;
					z-index: var(--zi-1);

					@include taphover {
						picture .c-lazy-trigger {
							transform: scale($scale--hover);
						}
					}
				}

				h3 {
					@include sp () {
						transform: translateY(#{sp-rem(-40)});
					}
				}

				picture {
					position: absolute;
					z-index: var(--zi-0);
					top: 50%;
					right: 0;
					overflow: hidden;
					width: pc-rem(280);
					height: pc-rem(280);

					@include pc () {
						transform: translateX(calc(100% + #{pc-rem(20)})) translateY(-50%);
					}
					@include sp () {
						width: sp-rem(280);
						height: sp-rem(280);
						transform: translateX(calc(100% + #{sp-rem(40)})) translateY(-50%);
					}

					.c-lazy-trigger {
						width: 100%;
						height: 100%;

						@include transition('transform', $dur--hover);
					}
				}
			}

			.p-about__item__sub {
				@include pc () {
					width: pc-rem(280);
					height: pc-rem(280);
				}
				@include sp () {
					width: sp-rem(280);
					height: sp-rem(280);
				}
			}
		}


		/** =================================================================
		 * CSR
		 * --------------------------------------------------------------- */

		.p-about__csr {
			position: relative;
			margin-top: pc-rem(60);

			@include sp () {
				display: flex;
				flex-direction: column-reverse;
				margin-top: sp-rem(60);
			}

			.p-about__item__main {
				text-align: right;

				@include sp () {
					margin-top: sp-rem(90);
				}

				.p-about__csr__tags {
					font-size: pc-rem(15);
					font-style: italic;
					line-height: 1 * 24/15;
					margin-top: pc-rem(42);
					opacity: .7;

					@include sp () {
						font-size: sp-rem(24);
						margin-top: sp-rem(88);
					}

					a {
						@include taphover {
							text-decoration: underline;
						}
					}

					a,
					span {
						display: inline-block;
					}

					a + a,
					span + span {
						margin-left: 1em;
					}
				}
			}

			.p-about__item__sub {
				@include sp () {
					position: relative;
					height: sp-rem(760);
				}

				.swiper {
					width: 100%;

					.swiper-slide {
						picture {
							overflow: hidden;
							width: 100%;
							height: 100%;
							border-radius: pc-rem(4);

							@include sp () {
								border-radius: sp-rem(8);
							}
						}
					}
				}

				.swiper-parent.is--upper {
					position: absolute;
					z-index: var(--zi-1);

					@include pc () {
						top: 50%;
						right: 0;
						width: pc-rem(420);
						transform: translateX(calc(100% + #{pc-rem(80)})) translateY(-50%);
					}
					@include sp () {
						top: sp-rem(480);
						left: sp-rem(180);
						width: sp-rem(420);
					}

					.swiper-slide {
						picture {
							aspect-ratio: 420 / 280;
						}
					}
				}

				.swiper-parent.is--lower {
					position: absolute;
					z-index: var(--zi-0);

					@include pc () {
						top: 50%;
						right: 0;
						width: pc-rem(480);
						transform: translateX(calc(100% + #{pc-rem(260)})) translateY(calc(-50% - #{pc-rem(260)}));
					}
					@include sp () {
						top: 0;
						left: 0;
						width: sp-rem(480);
					}

					.swiper-slide {
						picture {
							aspect-ratio: 480 / 700;
						}
					}
				}
			}
		}


		/** =================================================================
		 * STATISTICS
		 * --------------------------------------------------------------- */

		.p-about__stats {
			@include pc () {
				width: pc-rem(1000);
				margin-top: pc-rem(60 * 2);
			}
			@include sp () {
				margin-top: sp-rem(90);
			}

			.p-about__item__main {
				position: relative;
				z-index: var(--zi-1);

				@include pc () {
					width: 50%;
				}
			}

			h3 {
				text-align: right;
			}
		}
	}


	/** =================================================================
	 *
	 * WORK
	 *
	 * --------------------------------------------------------------- */

	.p-work {
		margin-top: pc-rem(200);

		@include sp () {
			margin-top: sp-rem(400);
		}

		.p-work__main {
			position: relative;
			z-index: var(--zi-1);

			@include pc () {
				width: 50%;
				margin-left: auto;
			}
			@include sp () {
				display: flex;
				flex-direction: column;
			}

			.c-header-set {
				@include sp () {
					order: 1;
				}
			}

			.p-work__list {
				@include sp () {
					order: 3;
				}
			}
		}

		.p-work__list {
			margin-top: pc-rem(24);
			text-align: right;

			@include sp () {
				margin-top: sp-rem(60);
			}

			li + li {
				margin-top: pc-rem(134);

				@include sp () {
					margin-top: sp-rem(120);
				}
			}

			.c-list-link {
				@include taphover {
					picture .c-lazy-trigger {
						transform: scale($scale--hover);
					}
				}

				picture {
					position: absolute;
					top: 50%;
					left: pc-rem(-30);
					width: pc-rem(120);
					height: pc-rem(120);
					transform: translateX(-100%) translateY(-50%);

					@include sp () {
						left: sp-rem(-30);
						width: sp-rem(120);
						height: sp-rem(120);
					}

					.c-lazy-trigger {
						width: 100%;
						height: 100%;

						@include transition('transform', $dur--hover);
					}
				}
			}
		}

		.p-work__illustration {
			position: relative;
			z-index: -1;

			@include pc () {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				transform: translateX(-100%);
			}
			@include sp ((
				margin-right: -1 * $size--pad--sp,
				margin-left: -1 * $size--pad--sp,
			)) {
				overflow: hidden;
				width: 100vw;
			}

			> div {
				position: relative;
				left: 50%;
				aspect-ratio: 1080/594;
				transform: translateX(-50%);

				@include pc () {
					top: 1rem * -60/$fs;
					height: pc-rem(594);
				}
				@include sp () {
					top: 0;
					height: sp-rem(594);
				}

				img {
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}
		}
	}


	/** =================================================================
	 *
	 * WORK
	 *
	 * --------------------------------------------------------------- */

	.p-people {
		margin-top: pc-rem(200);
		padding: pc-rem(90) 0;
		color: var(--color-theme-text);
		background-color: var(--color-theme-bg);

		@include transition('color, background-color', $dur--transition);
		@include sp () {
			margin-top: sp-rem(400);
			padding: sp-rem(90) 0;
		}

		.c-circle-arrow--border {
			border-color: var(--color-theme-border);
		}

		header.c-header-set {
			@include pc () {
				width: 50%;
			}
		}

		.p-people__main {
			display: flex;
			flex-wrap: wrap;

			@include pc () {
				margin-top: pc-rem(40);
				column-gap: pc-rem(40);
				row-gap: pc-rem(64);
			}
			@include sp () {
				margin-top: sp-rem(60);
				row-gap: sp-rem(128);
			}

			.p-people__employee {
				@include pc () {
					width: 50%;
				}
				@include sp () {
					width: 100%;
				}
			}

			.p-people__crosstalk {
				@include pc () {
					width: calc(50% - #{pc-rem(40)});
				}
				@include sp () {
					width: 100%;
				}
			}

			.p-people__interview {
				@include pc () {
					width: 100%;
				}
				@include sp () {
					width: 100%;
				}
			}
		}

		section {
			border-top: 1px solid var(--color-theme-border);

			@include transition('border-color', $dur--transition);

			> header {
				display: flex;
				justify-content: space-between;

				@include pc () {
					align-items: center;
					padding-top: pc-rem(12);
					padding-bottom: pc-rem(24);
				}
				@include sp () {
					align-items: flex-start;
					padding-top: sp-rem(12 * 2);
					padding-bottom: sp-rem(24 * 2);
				}

				h3 {
					display: flex;
					flex-direction: column;

					[lang='ja'] {
						font-size: pc-rem(20);
						font-weight: bold;
						opacity: .7;

						@include sp () {
							font-size: sp-rem(20 * 2);
						}
					}

					[lang='en'] {
						font-size: pc-clamp(12, 9);
						margin-top: pc-clamp(9.5, 9 * 9.5/12);
						text-transform: uppercase;

						@include sp () {
							font-size: sp-rem(12 * 2);
							margin-top: sp-rem(9.5 * 2);
						}
					}
				}
			}
		}


		/** =================================================================
		 * Employees
		 * --------------------------------------------------------------- */

		.p-people__employee {
			.p-people__employee__main {
				.c-pane-scroller__container {
					@include pc () {
						column-gap: pc-rem(20);
					}
					@include sp () {
						width: sp-rem(480 * 2 + 40 * (2 + 1));

						> * {
							padding-left: sp-rem(40);
						}
					}
				}
			}

			article {
				color: var(--color-theme-text-invert);

				@include transition('color', $dur--transition);
				@include pc () {
					width: pc-rem(240);
				}
				@include sp () {
					width: sp-rem(480);
				}

				a {
					position: relative;
					display: flex;
					flex-direction: column;
					box-sizing: border-box;
					height: 100%;
					padding: pc-rem(33) pc-rem(43) pc-rem(17) pc-rem(43);
					border-top: 5px solid #cccccc;
					border-bottom-right-radius: pc-rem(16);
					background-color: var(--color-theme-bg-invert);

					@include transition('background-color', $dur--transition);
					@include sp () {
						padding: sp-rem(33 * 2) sp-rem(43 * 2) sp-rem(17 * 2) sp-rem(43 * 2);
						border-bottom-right-radius: sp-rem(16 * 2);
					}
					@include taphover {
						picture .c-lazy-trigger {
							transform: scale($scale--hover);
						}

						&.is--new,
						&.is--career {
							&::before {
								transform: scaleX(1);
							}
						}
					}

					&::before {
						@include pseudo-block((
							top: -5px,
							left: 0,
							height: 5px,
							z-index: var(--zi-0),
							transform: scaleX(0),
							transform-origin: 0 0,
						)) {}
						@include transition('transform', $dur--hover);
						@include sp () {
							transform: scaleX(1);
						}
					}

					&.is--new {
						&::before {
							background-color: var(--color-green);
						}
					}
					&.is--career {
						&::before {
							background-color: var(--color-salmon);
						}
					}
				}

				picture {
					position: relative;
					z-index: var(--zi-1);
					width: pc-rem(154);

					@include sp () {
						width: sp-rem(154 * 2);
					}

					.c-lazy-trigger {
						width: 100%;
						height: 100%;

						@include transition('transform', $dur--hover);
					}
				}

				header {
					h4 {
						font-size: pc-clamp(14);
						font-weight: bold;
						position: absolute;
						top: pc-rem(24);
						right: pc-rem(20);
						writing-mode: vertical-rl;

						@include sp () {
							font-size: sp-rem(14 * 2);
							top: sp-rem(24 * 2);
							right: sp-rem(20 * 2);
						}
					}

					p {
						font-size: pc-clamp(11);
						position: relative;
						z-index: var(--zi-1);
						margin-top: pc-rem(20);
						text-align: center;

						@include sp () {
							font-size: sp-rem(11 * 2);
							margin-top: sp-rem(20 * 2);
						}
					}
				}

				.p-people__employee__article__description {
					font-size: pc-clamp(11);
					font-weight: bold;
					line-height: 1 * 16/11;
					position: relative;
					z-index: var(--zi-1);
					margin-top: pc-rem(16);

					@include sp () {
						font-size: sp-rem(11 * 2);
						margin-top: sp-rem(16 * 2);
					}
				}

				footer {
					display: flex;
					align-items: end;
					flex-grow: 1;
					justify-content: center;
					margin-top: pc-rem(30);

					@include sp () {
						margin-top: sp-rem(30 * 2);
					}
				}
			}
		}


		/** =================================================================
		 * Crosstalk
		 * --------------------------------------------------------------- */

		.p-people__crosstalk {
			display: flex;
			flex-direction: column;

			.p-people__crosstalk__main {
				@include pc () {
					height: 100%;
				}

				.swiper-parent,
				.swiper,
				.swiper-slide {
					@include pc () {
						height: 100%;
					}
				}

				.swiper-slide {
					position: relative;

					a {
						display: block;
						height: 100%;

						@include taphover {
							picture {
								transform: scale($scale--hover);
							}
						}
					}

					.p-people__crosstalk__title,
					.p-people__crosstalk__description {
						box-sizing: border-box;
						color: var(--color-theme-text-invert);
						background-color: var(--color-theme-bg-invert);

						@include transition('color, background-color', $dur--transition);
						@include pc () {
							position: absolute;
							z-index: var(--zi-1);
							left: 0;
							display: inline-block;
							max-width: 100%;
							padding: pc-rem(10) pc-rem(15);
						}
						@include sp () {
							padding: sp-rem(20) sp-rem(30);
						}
					}

					.p-people__crosstalk__title {
						@include pc () {
							top: pc-rem(22);
						}
						@include sp () {
							position: relative;
							z-index: var(--zi-1);
						}

						h4 {
							font-weight: bold;

							@include pc () {
								font-size: pc-rem(18);
							}
							@include pc () {
								font-size: sp-rem(30);
							}
						}
					}

					.p-people__crosstalk__description {
						@include pc () {
							font-size: pc-rem(15);
							bottom: pc-rem(62);
						}
						@include sp () {
							font-size: sp-rem(24);
							position: relative;
							z-index: var(--zi-1);
						}
					}

					picture {
						@include pc () {
							width: 100%;
							height: 100%;
						}
						@include sp () {
							width: 100%;
							aspect-ratio: 600 / 438;
						}
						@include transition('transform', .3s);
					}
				}
			}
		}


		/** =================================================================
		 * Interview
		 * --------------------------------------------------------------- */

		.p-people__interview {
			.p-people__interview__main {
				counter-reset: number 0;

				.c-pane-scroller__container {
					@include pc () {
						column-gap: pc-rem(40);
					}
					@include sp () {
						width: sp-rem(306 * 3 + 40 * (3 + 1));

						> * {
							padding-left: sp-rem(40);
						}
					}
				}
			}

			.p-people__interview__article {
				counter-increment: number 1;

				@include pc () {
					width: calc((100% - #{pc-rem(40 * 2)}) / 3);
				}
				@include sp () {
					width: sp-rem(306);

					&::before {
						font-size: sp-rem(22);
						line-height: 1;
						display: block;
						margin-bottom: 2em;
						content: counter(number) ' / 3';
					}
				}

				header {
					margin-top: pc-rem(20);

					@include sp () {
						margin-top: sp-rem(28);
					}

					h4 {
						font-size: pc-rem(18);

						@include pc () {
							font-weight: bold;
						}
						@include sp () {
							font-size: sp-rem(36);
							line-height: 1 * 44/36;
						}
					}
				}

				header + p {
					font-size: pc-clamp(14, 10);
					line-height: 1 * 22/13.2;
					margin-top: pc-rem(20);

					@include sp () {
						font-size: sp-rem(24);
						margin-top: sp-rem(20);
					}
				}
			}
		}

	}


	/** =================================================================
	 *
	 * STORY
	 *
	 * --------------------------------------------------------------- */

	.p-story {
		margin-top: pc-rem(200);

		@include sp () {
			margin-top: sp-rem(400);
		}

		.p-story__container {
			display: flex;
			flex-wrap: wrap;
			row-gap: pc-rem(60);

			.c-header-set {
				order: 2;

				@include pc () {
					width: 50%;
				}
			}

			.p-story__slides {
				order: 1;
				width: 50%;

				@include sp () {
					display: none;
				}
			}

			.p-story__main {
				order: 3;

				@include pc () {
					width: 100%;
				}
			}
		}

		.p-story__slides {
			height: 0;

			.swiper {
				position: relative;
				width: pc-rem(560);
				transform: translateX(#{pc-rem(-240)});

				.swiper-slide {
					width: 100%;
					aspect-ratio: 560 / 320;

					picture {
						width: 100%;
						height: 100%;
					}
				}
			}
		}

		.p-story__main {
			position: relative;
			z-index: var(--zi-1);
			counter-reset: number 0;

			.c-pane-scroller__container {
				height: 100%;

				@include pc () {
					column-gap: pc-rem(24);
				}
				@include sp () {
					width: sp-rem(360 * 5 + 40 * (5 + 1));

					> * {
						padding-left: sp-rem(40);
					}
				}
			}

			article {
				height: 100%;
				counter-increment: number 1;

				@include pc () {
					width: calc((100% - #{pc-rem(24) * 4}) / 5);

				}
				@include sp () {
					display: flex;
					flex-direction: column;
					width: sp-rem(360);
					height: 100%;

					&::before {
						font-size: sp-rem(22);
						line-height: 1;
						display: block;
						margin-bottom: 2em;
						content: counter(number) ' / 5';
					}
				}

				a {
					position: relative;
					display: flex;
					flex-direction: column;
					box-sizing: border-box;
					height: 100%;
					padding: pc-rem(48) 0 0 0;
					background-color: var(--color-lightgray);

					@include sp () {
						padding-top: sp-rem(96);
					}
				}

				h3 {
					font-size: pc-rem(18);
					font-weight: bold;
					position: relative;
					flex-grow: 1;
					margin-right: auto;
					margin-left: auto;
					writing-mode: vertical-rl;

					@include sp () {
						font-size: sp-rem(36);
					}
				}

				p {
					line-height: 1 * 22.5/14;

					@include pc () {
						font-size: clamp(10px, #{cal--pc(14)}, #{cal--pc-max(14)});
						margin-top: pc-rem(30);
						margin-bottom: pc-rem(30);
						padding: 0 pc-rem(15);
					}
					@include sp () {
						font-size: sp-rem(28);
						margin-top: sp-rem(60);
						margin-bottom: sp-rem(60);
						padding: 0 sp-rem(30);
					}
				}

				figure {
					> div {
						width: 100%;
						aspect-ratio: 182 / 104;
					}

					figcaption {
						font-weight: bold;
						line-height: 1 * 22.5/14;
						display: flex;
						align-items: center;
						height: 2em * 1 * 22.5/14;

						@include pc () {
							font-size: pc-clamp(14, 10);
							padding: pc-rem(15);
						}
						@include sp () {
							font-size: sp-rem(28);
							padding: sp-rem(30);
						}
					}
				}

				.c-icon {
					position: absolute;
					right: 50%;
					transform: translateX(50%);

					@include pc () {
						font-size: pc-clamp(10);
						top: pc-clamp(-24);
					}
					@include sp () {
						font-size: sp-rem(20);
						top: sp-rem(-48);
					}
				}
			}
		}
	}

}
