/** =================================================================
 *
 * PROJECT - WORK
 *
 * ------------------------------------------------------------------
 *
 *
 *
 * --------------------------------------------------------------- */

main.p-work.is--index {

	.p-work__workplace__sections {
		margin-top: pc-rem(60);

		@include sp () {
			margin-top: sp-rem(80);
		}
		@include sp () {
			margin-top: sp-rem(80);
		}

		.p-work__workplace__sec + .p-work__workplace__sec {
			margin-top: pc-rem(60);
		}
	}

	.p-work__workplace__sec {
		.p-work__workplace__sec__header {
			border-top: 1px solid var(--color-border);

			@include pc () {
				display: flex;
			}

			> h3 {
				display: flex;

				@include pc () {
					flex-direction: column;
					width: 50%;
					padding-top: pc-rem(30 - 3);
					row-gap: pc-rem(30);
				}
				@include sp () {
					flex-direction: column-reverse;
					padding-top: sp-rem(80);
					row-gap: sp-rem(40);
				}

				[lang='ja'] {
					font-size: pc-rem(32);

					@include sp () {
						font-size: sp-rem(50);
					}
				}

				[lang='en'] {
					font-size: pc-clamp(13);
					font-weight: bold;

					@include sp () {
						font-size: sp-rem(26);
					}
				}
			}

			> div {
				line-height: 1 * 52/28;

				@include pc () {
					font-size: pc-clamp(14, 14 * $fs--min-ratio);
					width: 50%;
					padding-top: pc-rem(30 - 7);
				}
				@include sp () {
					font-size: sp-rem(32);
					line-height: 1 * 48/32;
					margin-top: sp-rem(40);
				}
			}
		}
	}


	/** =================================================================
	 *
	 * MAP
	 *
	 * --------------------------------------------------------------- */

	.p-work__workplace__map {
		position: relative;
		margin-top: pc-rem(60);

		@include sp () {
			margin-top: sp-rem(80);
		}

		&.is--loading {
			nav {
				pointer-events: none;
				opacity: 0;
			}

			.p-map-container {
				pointer-events: none;
				opacity: 0;
			}
		}

		nav {
			position: relative;
			z-index: var(--zi-1);

			@include transition('opacity', .6s);
			@include sp () {
				display: none;
			}

			ul {
				display: flex;
				column-gap: pc-rem(8);

				li {
					position: relative;
					width: calc(100% - #{pc-rem(8 * 5)});
					height: pc-clamp(80);
					counter-increment: chapter;

					a {
						line-height: 1;
						display: flex;
						flex-direction: column;
						justify-content: center;
						width: 100%;
						height: 100%;
						border: 1px solid #eaeaea;
						border-radius: pc-clamp(40);
						background-color: #f7f7f7;

						@include transition('border-color, background-color', .15s);
						@include taphover {
							border-color: transparent;
							background-color: transparent;

							[lang='ja']::after {
								transform: scaleX(1);
							}
						}

						&.is--active {
							border-color: transparent;
							background-color: transparent;

							[lang='ja']::after {
								transform: scaleX(1);
							}
						}

						&::before {
							font-size: pc-clamp(14);
							font-weight: bold;
							content: '#0' counter(chapter);
							text-align: center;

							@extend %ff--sen;
						}

						[lang='en'] {
							font-size: pc-clamp(11);
							overflow-x: hidden;
							width: fit-content;
							margin: 0 auto;
							padding-top: pc-clamp(5);
							padding-bottom: pc-clamp(7);
							text-align: center;
							white-space: nowrap;
							text-overflow: ellipsis;
						}

						[lang='ja'] {
							font-size: pc-clamp(18, 18 * $fs--min-ratio);
							position: relative;
							width: fit-content;
							margin: 0 auto;
							padding-bottom: pc-clamp(3);
							text-align: center;
						}
					}
				}
			}
		}

		.p-map-wrapper {
			position: relative;
			overflow: hidden;
			width: 100vw;

			@include pc () {
				left: 50%;
				transform: translateX(-50%);
			}
			@include sp ((
				margin-right: -1 * $size--pad--sp,
				margin-left: -1 * $size--pad--sp,
			)) {}

			.p-map-container {
				position: relative;

				@include transition('opacity', .6s);
				@include pc () {
					left: 50vw;
					width: pc-rem(1344);
					margin-top: pc-rem(36);
					transform: translateX(-50%);
				}
				@include sp () {
					width: sp-rem(850);
					margin-top: sp-rem(-67 * 864/1440);
					margin-bottom: sp-rem(-77 * 864/1440);
				}

				.p-map {
					width: 100%;
					aspect-ratio: 2689 / 1855;
					transform: translateX(#{pc-rem(0)});

					@include sp () {
						transform: translateX(#{sp-rem(-51)});
					}
				}
			}

			.p-map-overlays {
				position: absolute;
				z-index: var(--zi-1);
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				pointer-events: none;

				@include sp () {
					display: none;
				}

				.p-map-overlay {
					position: absolute;
					display: flex;
					flex-direction: column;
					box-sizing: border-box;
					padding: pc-rem(20);
					row-gap: pc-rem(20);
					transform: scale(.95);
					opacity: 0;
					border-radius: pc-rem(10);
					background-color: #f8f7f7;

					@include transition('opacity, transform', .3s);

					&.is--active {
						z-index: var(--zi-1);
						transform: scale(1);
						opacity: 1;
					}

					img {
						display: block;
						overflow: hidden;
						width: 100%;
						border-radius: pc-rem(4);
					}

					&[data-overlay='atrium'] {
						top: pc-rem(44);
						left: pc-rem(422);
						width: pc-rem(500);
					}
					&[data-overlay='k-lounge'] {
						top: pc-rem(44);
						left: pc-rem(332);
						width: pc-rem(680);
					}
					&[data-overlay='buffet'] {
						top: pc-rem(44);
						left: pc-rem(412);
						width: pc-rem(520);
					}
					&[data-overlay='healthcareroom'] {
						top: pc-rem(44);
						left: pc-rem(412);
						width: pc-rem(520);
					}
					&[data-overlay='terrace'] {
						top: pc-rem(44);
						left: pc-rem(440);
						width: pc-rem(464);
					}
					&[data-overlay='library'] {
						top: pc-rem(44);
						left: pc-rem(363);
						width: pc-rem(620);
					}
				}
			}
		}
	}

	#hotspots {
		.hotspot {
			fill: transparent;
			@include pc () {
				cursor: pointer;
			}
		}
	}


	/** =================================================================
	 *
	 * LINK
	 *
	 * --------------------------------------------------------------- */

	.p-work__workplace__links {
		margin-top: pc-rem(60);

		ul {
			display: flex;
			flex-wrap: wrap;

			@include pc () {
				column-gap: 8px;
				row-gap: pc-rem(60);
			}
			@include sp () {
				column-gap: sp-rem(4);
				row-gap: sp-rem(60);
			}

			li {
				counter-increment: chapter;

				@include pc () {
					width: calc((100% - 8px * 3) / 4);

					@at-root main.p-work.is--index #head .p-work__workplace__links ul li {
						&:nth-child(1),
						&:nth-child(2) {
							width: calc((100% - 8px) / 2);
						}
					}
					@at-root main.p-work.is--index #branch .p-work__workplace__links ul li {
						&:nth-child(1) {
							width: calc((100% - 8px) / 2);
						}
					}
				}
				@include sp () {
					width: calc((100% - #{sp-rem(4)}) / 2);

					@at-root main.p-work.is--index #head .p-work__workplace__links ul li {
						&:nth-child(1),
						&:nth-child(2) {
							width: 100%;
						}
					}
					@at-root main.p-work.is--index #branch .p-work__workplace__links ul li {
						&:nth-child(1) {
							width: 100%;
						}
					}
				}
			}
		}

		a.p-work__workplace__link {
			@include taphover {
				picture {
					transform: scale($scale--hover);
				}

				h4 {
					.c-animate-underline {
						&::after {
							transform: scale(1);
						}
					}
				}

				.c-circle-arrow {
					color: var(--color-white);
					background-color: var(--color-theme-bg-invert);
				}
			}

			.p-work__workplace__link__index {
				font-size: pc-clamp(12);
				line-height: 1;
				text-transform: uppercase;
				border-bottom: 1px solid var(--color-border);

				@include pc () {
					padding-right: pc-rem(10);
					padding-bottom: 1em * 6/12;
					padding-left: pc-rem(10);
				}
				@include sp () {
					font-size: sp-rem(20);
					padding-bottom: 1em * 10/12;
				}

				b {
					font-size: pc-rem(16);

					@include sp () {
						font-size: sp-rem(28);
					}

					&::before {
						content: '#0' counter(chapter);
					}
				}
			}

			h4 {
				font-size: pc-rem(20);
				position: relative;
				margin-top: pc-rem(30);

				@include pc () {
					padding: 0 pc-rem(10);
				}
				@include sp () {
					font-size: sp-rem(48);
					margin-top: sp-rem(30);
				}

				.c-circle-arrow {
					position: absolute;
					top: 50%;
					right: pc-rem(10);
					transform: translateY(-50%);

					@include sp () {
						font-size: sp-rem(60);
						right: sp-rem(24);
					}
					@include transition('color, background-color', $dur--hover);
				}

				.c-animate-underline::after {
					@include sp () {
						bottom: 0;
					}
				}
			}

			> div {
				overflow: hidden;
				margin-top: pc-rem(30);

				@include sp () {
					margin-top: sp-rem(30);
				}

				picture {
					@include transition('transform', $dur--hover);
				}
			}

			.p-work__workplace__link__description {
				font-size: pc-clamp(14, 14 * $fs--min-ratio);
				margin-top: pc-rem(30 - 2);

				@include pc () {
					padding: 0 pc-rem(10);
				}
				@include sp () {
					font-size: sp-rem(28);
					margin-top: sp-rem(24);
				}
			}
		}
	}


	/** =================================================================
	 *
	 * MODAL
	 *
	 * --------------------------------------------------------------- */

	.p-workplace-modal {
		position: fixed;
		z-index: var(--zi-modal);
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		height: 100dvh;
		pointer-events: none;

		&.is--opened {
			.p-workplace-modal__veil {
				pointer-events: all;
			}

			.p-workplace-modal__wrapper {
				transform: translateX(0%);
			}
		}

		.p-workplace-modal__veil {
			position: absolute;
			z-index: var(--zi-0);
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			pointer-events: none;
		}

		.p-workplace-modal__wrapper {
			position: absolute;
			z-index: var(--zi-1);
			top: 0;
			right: 0;
			width: pc-rem(680);
			height: 100%;
			transform: translateX(100%);
			pointer-events: all;
			color: var(--color-white);
			background-color: var(--color-modal);

			@include sp () {
				width: sp-rem(620);
			}
			@include transition('transform', .6s);

			.p-workplace-modal__container {
				height: 100%;
			}
		}

		.p-workplace-modal__sign {
			font-weight: bold;
			position: absolute;

			@include pc () {
				font-size: pc-clamp(11);
				bottom: pc-rem(40);
				left: pc-rem(30);
				transform: translateX(-50%);
				writing-mode: vertical-rl;
			}
			@include sp () {
				font-size: sp-rem(20);
				z-index: var(--zi-2);
				bottom: sp-rem(55);
				left: 50%;
				transform: translateX(-50%) translateY(50%);
			}
		}

		.swiper {
			position: relative;
			width: 100%;
			height: 100%;

			&::after {
				@include pseudo-block((
					left: 0,
					bottom: 0,
					height: pc-rem(40),
					pointer-events: none,
					background-image: clothoid-gradient('to bottom', #022120, 0, 1),
					z-index: var(--zi-1),
				)) {}
				@include sp () {
					height: sp-rem(60);
					border-bottom: sp-rem(50) solid #022120;
				}
			}

			> header {
				position: absolute;
				z-index: var(--zi-1);
				top: 0;
				left: 0;
				width: 100%;
				background-color: var(--color-modal);

				&::before {
					@include pseudo-block((
						top: pc-rem(76),
						left: 0,
						height: pc-rem(40),
						pointer-events: none,
						background-image: clothoid-gradient('to bottom', #022120, 1, 0),
					)) {}
					@include sp () {
						top: sp-rem(140);
						height: sp-rem(40);
					}
				}

				> div {
					font-weight: bold;
					position: relative;
					display: flex;
					align-items: center;
					justify-content: center;
					box-sizing: border-box;
					height: pc-rem(76);
					margin: 0 pc-rem(90);
					border-bottom: 1px solid #506463;

					@include sp () {
						height: sp-rem(140);
						margin: 0 sp-rem(20) 0 sp-rem(60);
					}
				}

				h3 {
					font-size: pc-clamp(14);
					opacity: .6;

					@include sp () {
						font-size: sp-rem(28);
					}
				}

				.c-circle-arrow {
					position: absolute;
					cursor: pointer;
					border-color: #506463;

					@include sp () {
						font-size: sp-rem(60);
					}
					@include taphover {
						color: #022120;
						background-color: #506463;
					}
					@include transition('color, background-color', $dur--hover);

					&.is--prev {
						top: 50%;
						left: 0;
						transform: translateY(-50%) rotate(180deg);
					}
					&.is--next {
						top: 50%;
						right: 0;
						transform: translateY(-50%);
					}
				}
			}

			.swiper-wrapper {
				height: 100% !important;

				.swiper-slide {
					position: relative;
					width: 100%;
					height: 100%;

					.swiper-slide__wrapper {
						position: relative;
						overflow-y: scroll;
						box-sizing: border-box;
						height: 100%;
						padding: pc-rem(76) pc-rem(90) pc-rem(40) pc-rem(90);

						overscroll-behavior: none;
						-ms-overflow-style: none;  // Edge
						scrollbar-width: none;  // Firefox
						@include sp () {
							padding: sp-rem(140) sp-rem(20) sp-rem(110) sp-rem(60);
						}

						&::-webkit-scrollbar {
							display: none;  // Safari • Chrome
						}
					}
				}

				.swiper-slide {
					header {
						line-height: 1;
						display: flex;
						align-items: end;
						justify-content: space-between;
						margin-top: pc-rem(40);

						@include sp () {
							margin-top: sp-rem(40);
						}

						h4 {
							font-size: pc-clamp(18, 18 * $fs--min-ratio);
							font-weight: bold;

							@include sp () {
								font-size: sp-rem(36);
							}
						}

						p {
							font-size: pc-clamp(11);
							font-weight: bold;
							text-transform: uppercase;

							@include sp () {
								font-size: sp-rem(22);
							}
						}
					}

					.swiper-slide__body {
						margin-top: pc-rem(60);

						@include sp () {
							margin-top: sp-rem(40);
						}

						picture {
							overflow: hidden;

							@include pc () {
								margin-right: pc-rem(-60);
								margin-left: pc-rem(-30);
								border-radius: pc-rem(4);
							}
							@include sp () {
								border-radius: sp-rem(8);
							}
						}

						p {
							font-size: pc-clamp(14, 14 * $fs--min-ratio);
							font-weight: bold;
							line-height: $lh--huge;
							opacity: .7;

							@include sp () {
								font-size: sp-rem(28);
								line-height: 1 * 42/28;
							}
						}

						h5 {
							font-size: pc-clamp(18, 18 * $fs--min-ratio);
							font-weight: bold;
							padding-top: pc-rem(30);
							padding-bottom: pc-rem(40);
							border-top: 1px solid rgba(255,255,255,.4);

							@include sp () {
								font-size: sp-rem(36);
								padding-top: sp-rem(40);
								padding-bottom: sp-rem(40);
							}
						}

						> picture + p,
						> p + picture {
							margin-top: pc-rem(30);

							@include sp () {
								margin-top: sp-rem(40);
							}
						}

						> * + h5 {
							margin-top: pc-rem(60);

							@include sp () {
								margin-top: sp-rem(80);
							}
						}
					}
				}
			}
		}
	}

}


/** =================================================================
 *
 * WELFARE
 *
 * --------------------------------------------------------------- */

main.p-work.is--welfare {

	.p-work__welfare__sections {
		margin-top: pc-rem(60);
		padding-bottom: pc-rem(100);
		background-color: #f8f7f7;

		@include sp () {
			margin-top: sp-rem(100);
			padding-bottom: sp-rem(80);
		}
	}

	.p-work__welfare__sec {
		.l-container {
			@include pc () {
				display: flex;
				column-gap: 8px;
			}

			header {
				@include pc () {
					width: calc((100% - 8px * 3) / 4);
				}
			}

			dl {
				@include pc () {
					width: calc(100% - ((100% - 8px * 3) / 4));
				}
			}
		}

		header {
			position: relative;

			h2 {
				font-size: pc-rem(24);
				font-weight: bold;
				box-sizing: border-box;
				padding-top: pc-rem(30);
				border-top: 1px solid var(--color-border);

				@include sp () {
					font-size: sp-rem(56);
					font-weight: normal;
					padding-top: sp-rem(80);
					padding-bottom: sp-rem(80);
				}
			}
		}

		dl {
			.p-work__welfare__item {
				display: flex;
				align-items: center;
				flex-direction: column;
				justify-content: center;
				box-sizing: border-box;
				width: 100%;
				min-height: pc-rem(160 - 20 * 2);
				padding: pc-rem(20) 0;
				border-top: #cccccc solid 4px;
				background-color: var(--color-white);

				@include sp () {
					min-height: sp-rem(192 - 20 * 2);
					padding: sp-rem(20) 0;
					border-top-width: sp-rem(4);
				}

				> div {
					display: flex;
					flex-direction: column;
					box-sizing: border-box;
					width: 100%;
					padding: 0 pc-rem(10);
					row-gap: pc-rem(18 - 10);

					@include sp () {
						padding: 0 sp-rem(10);
						row-gap: sp-rem(10);
					}
				}
			}

			dt {
				font-size: pc-clamp(15, 15 * $fs--min-ratio);
				font-weight: bold;
				width: 100%;
				text-align: center;

				@include sp () {
					font-size: sp-rem(22);
				}
			}

			dd {
				font-size: pc-clamp(14, 14 * $fs--min-ratio);
				line-height: 1 * 44/28;
				width: 100%;
				text-align: center;

				@include sp () {
					font-size: sp-rem(18);
					line-height: 1 * 29/18;
				}
			}
		}

		.p-work__welfare__sec__strong {
			line-height: 1;
			display: inline-block;

			b {
				font-size: pc-clamp(48, 48 * $fs--min-ratio);
				font-weight: normal;

				@include sp () {
					font-size: sp-rem(68);
				}
			}

			small {
				font-size: pc-clamp(18, 18 * $fs--min-ratio);
				font-weight: bold;

				@include sp () {
					font-size: sp-rem(22);
				}
			}
		}
	}

	.p-work__welfare__sec + .p-work__welfare__sec {
		margin-top: pc-rem(60);

		@include sp () {
			margin-top: sp-rem(100);
		}
	}

	#workstyle.p-work__welfare__sec {
		dl {
			display: grid;

			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(2, 1fr);
			grid-column-gap: 8px;
			grid-row-gap: 8px;
			@include sp () {
				grid-template-columns: repeat(2, 1fr);
				grid-template-rows: repeat(3, 1fr);
				grid-column-gap: sp-rem(20);
				grid-row-gap: sp-rem(80);
			}
		}

		#workstyleHoliday {
			.p-work__welfare__sec__strong {
				b {
					display: flex;
					flex-direction: column;
					justify-content: center;
				}

				small {
					font-weight: normal;
				}
			}
		}

		#workstyleStar {
			picture {
				width: pc-rem(90);
				margin: 0 auto;

				@include sp () {
					width: sp-rem(112);
				}
			}
		}
	}

	#system.p-work__welfare__sec {
		header {
			@include pc () {
				display: grid;

				grid-template-columns: 1fr;
				grid-template-rows: repeat(4, 1fr);
				grid-column-gap: 8px;
				grid-row-gap: 8px;
			}
			@include sp () {
				display: flex;
				margin-bottom: sp-rem(80);
				column-gap: sp-rem(20);
			}

			h2 {
				@include sp () {
					width: calc((100% - #{sp-rem(20)}) / 2);
				}
			}

			> figure {
				@include pc () {
					display: contents;

					picture {
						height: 100%;
					}

					figcaption {
						font-size: pc-clamp(12);
						line-height: 1 * 40/24;
					}
				}
				@include sp () {
					width: calc((100% - #{sp-rem(20)}) / 2);
					border-top: sp-rem(4) solid var(--color-border);

					picture {
						aspect-ratio: 290 / 192;
					}

					figcaption {
						font-size: sp-rem(18);
						position: absolute;
						bottom: 0;
						left: 0;
						width: calc((100% - #{sp-rem(20)}) / 2);
						text-align: right;
					}
				}
			}
		}

		dl {
			display: grid;

			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(4, 1fr);
			grid-column-gap: 8px;
			grid-row-gap: 8px;
			@include sp () {
				grid-template-columns: repeat(2, 1fr);
				grid-template-rows: repeat(6, 1fr);
				grid-column-gap: sp-rem(20);
				grid-row-gap: sp-rem(80);
			}
		}
	}

}


/** =================================================================
 *
 * HRD
 *
 * --------------------------------------------------------------- */

main.p-work.is--hrd {

	.l-container.is--2col {
		> div:nth-of-type(2) {
			@include pc () {
				padding-top: pc-clamp($size--gh);
			}
		}
	}

	.p-work__hrd__sec {
		@include sp () {
			margin-top: sp-rem(100);
		}

		header {
			position: relative;

			@include pc () {
				padding-top: calc(#{pc-rem(30)} + 1px);
			}
			@include sp () {
				padding-top: calc(#{sp-rem(80)} + 1px);
			}

			&::before {
				@include pseudo-block((
					width: 100%,
					height: 1px,
					top: 0,
					left: 0,
					background-color: var(--color-border),
				)) {}
				@include sp () {
					width: 50%;
				}
			}

			h2 {
				font-size: pc-rem(24);

				@include sp () {
					font-size: sp-rem(56);
				}
			}
		}

		.p-work__hrd__sec__body {
			line-height: 1 * 52/28;
			margin-top: pc-rem(40 - 7.5);

			@include sp () {
				margin-top: sp-rem(80);
			}
		}
	}

	#training.p-work__hrd__sec {
		figure {
			@include pc () {
				margin-left: pc-rem(-40);
			}
		}
	}

	#skillup.p-work__hrd__sec {
		picture {
			overflow: hidden;
			border-radius: pc-rem(4);

			@include sp () {
				border-radius: sp-rem(8);
			}
		}

		picture + picture {
			margin-top: pc-rem(10);

			@include sp () {
				margin-top: sp-rem(12);
			}
		}
	}

	#skillupStats {
		display: flex;
		align-items: center;
		margin-top: pc-rem(40);

		@include sp () {
			margin-top: sp-rem(80);
		}

		> div {
			font-size: pc-rem(14);
			padding: 0 .5em;

			@include pc () {
				width: pc-rem(160);
			}
			@include sp () {
				font-size: sp-rem(22);
				padding-right: sp-rem(40);
			}

			strong {
				font-size: pc-rem(54);
				font-weight: normal;
				display: inline-block;
				margin: 0 (1rem * 7/$fs);

				@include sp () {
					font-size: sp-rem(86);
				}
			}
		}

		> ul {
			font-size: pc-rem(14);
			font-weight: bold;
			line-height: $lh--huge;
			padding: pc-rem(20) pc-rem(30);
			border-left: 1px solid #666666;

			@include sp () {
				font-size: sp-rem(22);
				line-height: 1 * 39/22;
				padding: sp-rem(30) 0 sp-rem(30) sp-rem(40);
			}
		}
	}

}
